.edit {
    height: calc(100% - 40px);
    iframe {
        flex-grow: 1;
        width: 100%;
        border: 2px solid var(--surface-c);
        background: var(--surface-c);
    }
}

.url {
    button {
        visibility: hidden;
    }
    &:hover {
        button {
            visibility: visible;
        }
    }
}

.placeholder {
    text-align: center;
    img {
        max-width: 100%;
        height: 150px;
    }
}

.add {
    width: 80%;
    margin: 0 auto;
    .p-float-label {
        flex-grow: 2;
        width: auto;
        input {
            width: 100%;
        }
    }
}
