<div class="comment">
    <div class="p-d-flex p-flex-column">
        <div class="p-d-flex p-align-center">
            <img
                src="{{ commentDetail.authorProfileImage }}"
                alt="{{ commentDetail.authorDisplayName }}'s profile picture."
                width="30px"
                height="30px"
                class="p-mr-2 comment__image"
            />
            <span class="comment__author">{{ commentDetail.authorDisplayName }}</span>
            <button
                type="button"
                class="p-button-text p-button-plain"
                pButton
                icon="pi pi-ellipsis-h"
                (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="commentItems" appendTo="body"></p-menu>
        </div>
        <p class="comment__body">{{ commentDetail.comment.body }}</p>
    </div>
    <div>
        Resolved: {{ commentDetail.comment.resolved ? 'YUP' : 'NOPE' }} -
        <button type="button" class="btn btn-primary" (click)="toggleResolvedPressed()">
            {{ commentDetail.comment.resolved ? 'Unresolve' : 'Resolve' }}
        </button>
        <button type="button" class="btn btn-primary" (click)="editPressed()" [disabled]="!commentDetail.isEditable">
            Edit
        </button>
        <button type="button" class="btn btn-warning" (click)="deletePressed()" [disabled]="!commentDetail.isDeletable">
            Delete
        </button>
    </div>
</div>
