<div class="nav">
    <div class="nav__actions">
        <div>
            <a href="https://stepflow.com">Back to stepflow.com</a>
        </div>
        <div>
            <a routerLink="/auth/signup" routerLinkActive="hide-on-active" [routerLinkActiveOptions]="{ exact: true }">
                Sign up
            </a>
            <a routerLink="/auth/login" routerLinkActive="hide-on-active" [routerLinkActiveOptions]="{ exact: true }">
                Sign in
            </a>
        </div>
    </div>
</div>

<!-- <a class="back__link" routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }">
    <img class="icon" src="../../assets/arrow-left.svg" />
</a> -->
