.viewer {
    display: flex;
    flex-direction: column;
    .p-grid.viewer-container {
        width: 80%;
        margin: 0 auto;
        min-width: 960px;
        hr {
            background-color: var(--surface-d);
            border-width: 0;
            height: 1px;
        }
    }
    .p-card.step-container {
        min-height: 100%;
        height: 100%;
    }
}
