.viewer {
    display: flex;
    flex-direction: row;
    .back-link:hover {
        cursor: pointer;
    }
    .p-grid.viewer-container {
        width: 90%;
    }
    .p-card.step-container {
        min-width: 600px;
        min-height: 100%;
        height: 100%;
    }
}
