<div class="viewer">
    <div class="p-grid p-nogutter viewer-container p-pr-4 p-pt-4">
        <div class="p-col-3">
            <div class="p-pt-2 p-pb-3 p-pl-3 p-d-flex p-ai-center">
                <span [routerLink]="['/project']"><img src="/assets/stepflow-logo.svg" alt="Stepflow logo" /></span>
            </div>
            <project-steps></project-steps>
        </div>
        <div class="p-col-9 p-pl-4">
            <div class="p-grid p-pb-3">
                <div class="p-col-6 p-d-flex p-ai-center p-pl-4">
                    <span class="ms-2 p-text-bold">
                        <i class="pi pi-chevron-left back-link" [routerLink]="['/project']"></i> Project title
                    </span>
                </div>
                <div class="p-col-6 p-d-flex p-jc-end p-ai-center p-pr-4">
                    <i class="pi pi-cog ms-3 p-mr-4"></i>
                    <p-button label="Share"></p-button>
                </div>
            </div>
            <p-card class="step-container">
                <p-header>
                    <div class="p-grid p-nogutter p-py-2">
                        <div class="p-col-6 p-pl-4">
                            <h2>Step Title</h2>
                        </div>
                        <div class="p-col-6 p-d-flex p-jc-end p-ai-center p-pr-4">
                            <project-controls></project-controls>
                        </div>
                    </div>
                    <hr />
                </p-header>
                <project-dynamic-form [fields]="currentStep.components"></project-dynamic-form>
            </p-card>
        </div>
    </div>
</div>
