<div class="viewer" #viewer>
    <div class="p-grid p-nogutter viewer-container">
        <div class="p-col-3">
            <project-steps (dragAndDropStepEvent)="onDragAndDropStepEvent($event)"></project-steps>
        </div>
        <div class="p-col-9 p-px-2 p-pt-5 viewer-container__step" *ngIf="currentStep; else showErrorState">
            <div class="p-grid p-nogutter" style="min-height: 100%">
                <div class="p-col-11">
                    <div class="step-container p-pb-3">
                        <div class="p-mb-4 p-px-2">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <div class="p-d-flex p-flex-column">
                                    <h2 class="ms-4 p-my-0 p-pr-2">{{ currentStep.step.title }}</h2>
                                    <span *ngIf="currentStep.step.description" class="p-pt-1">{{
                                        currentStep.step.description
                                    }}</span>
                                </div>
                                <ng-container
                                    *ngIf="currentStep.step.status"
                                    [ngSwitch]="currentStep.step.status.value"
                                >
                                    <span *ngSwitchCase="'in-progress'" class="p-tag p-tag-rounded p-tag-warning ms-02">
                                        <i class="pi {{ currentStep.step.status.icon }} p-pr-1"></i
                                        >{{ currentStep.step.status.label }}
                                    </span>
                                    <span *ngSwitchCase="'upcoming'" class="p-tag p-tag-rounded ms-02">
                                        <i class="pi {{ currentStep.step.status.icon }} p-pr-1"></i
                                        >{{ currentStep.step.status.label }}
                                    </span>
                                    <span *ngSwitchCase="'completed'" class="p-tag p-tag-rounded p-tag-success ms-02">
                                        <i class="pi {{ currentStep.step.status.icon }} p-pr-1"></i
                                        >{{ currentStep.step.status.label }}
                                    </span>
                                    <span *ngSwitchCase="'important'" class="p-tag p-tag-rounded p-tag-danger ms-02">
                                        <i class="pi {{ currentStep.step.status.icon }} p-pr-1"></i>
                                        {{ currentStep.step.status.label }}
                                    </span>
                                </ng-container>
                            </div>
                        </div>
                        <div class="p-px-2">
                            <project-dynamic-form
                                [fields]="currentStep.components"
                                (dragAndDropEvent)="onDragAndDropEvent($event)"
                            ></project-dynamic-form>
                        </div>
                    </div>
                </div>
                <div class="p-col-1" style="position: relative">
                    <step-controls></step-controls>
                </div>
            </div>
        </div>
        <ng-template #showErrorState>
            <div class="p-col-9 p-d-flex p-ai-center"></div>
        </ng-template>
    </div>
</div>
