<div class="confirmation p-d-flex p-flex-column p-ai-center p-jc-center">
    <div class="confirmation__msg p-pt-4">
        <img src="/assets/stepflow-logo.svg" alt="Stepflow logo" height="26px" />
        <h1 class="p-mt-4">You're on the list!</h1>
        <p>
            Thank you for signing up. Keep a look out in your inbox for when it's time to login and experience Stepflow.
        </p>
        <a
            href="https://twitter.com/intent/tweet?source=tweetbutton&text={{
                msg
            }}&url=https://stepflow.co&via=stepflowapp"
            target="_blank"
        >
            <button
                pButton
                type="button"
                class="p-button p-mr-2"
                label="Share on Twitter"
                icon="pi pi-share-alt"
            ></button>
        </a>
        <a href="https://stepflow.co" *ngIf="authPlan === 'Essential'">
            <button pButton type="button" class="p-button-secondary" label="Back to Stepflow.co"></button>
        </a>
        <ng-container *ngIf="authPlan != 'Essential'">
            <div class="p-pt-4">
                <h2>Next, complete your pre-order below to lock in your discount:</h2>
            </div>
            <iframe
                id="JotFormIFrame-211134741960046"
                title="Stepflow Pre-Order Form"
                onload="window.parent.scrollTo(0,0)"
                allowtransparency="true"
                allowfullscreen="true"
                allow="geolocation; microphone; camera"
                src="https://form.jotform.com/211134741960046"
                frameborder="0"
                style="
    min-width: 100%;
    height:539px;
    border:none;"
                scrolling="no"
            >
            </iframe>
            <script type="text/javascript">
                var ifr = document.getElementById('JotFormIFrame-211134741960046');
                if (ifr) {
                    var src = ifr.src;
                    var iframeParams = [];
                    if (window.location.href && window.location.href.indexOf('?') > -1) {
                        iframeParams = iframeParams.concat(
                            window.location.href.substr(window.location.href.indexOf('?') + 1).split('&')
                        );
                    }
                    if (src && src.indexOf('?') > -1) {
                        iframeParams = iframeParams.concat(src.substr(src.indexOf('?') + 1).split('&'));
                        src = src.substr(0, src.indexOf('?'));
                    }
                    iframeParams.push('isIframeEmbed=1');
                    ifr.src = src + '?' + iframeParams.join('&');
                }
                window.handleIFrameMessage = function(e) {
                    if (typeof e.data === 'object') {
                        return;
                    }
                    var args = e.data.split(':');
                    if (args.length > 2) {
                        iframe = document.getElementById('JotFormIFrame-' + args[args.length - 1]);
                    } else {
                        iframe = document.getElementById('JotFormIFrame');
                    }
                    if (!iframe) {
                        return;
                    }
                    switch (args[0]) {
                        case 'scrollIntoView':
                            iframe.scrollIntoView();
                            break;
                        case 'setHeight':
                            iframe.style.height = args[1] + 'px';
                            break;
                        case 'collapseErrorPage':
                            if (iframe.clientHeight > window.innerHeight) {
                                iframe.style.height = window.innerHeight + 'px';
                            }
                            break;
                        case 'reloadPage':
                            window.location.reload();
                            break;
                        case 'loadScript':
                            if (!window.isPermitted(e.origin, ['jotform.com', 'jotform.pro'])) {
                                break;
                            }
                            var src = args[1];
                            if (args.length > 3) {
                                src = args[1] + ':' + args[2];
                            }
                            var script = document.createElement('script');
                            script.src = src;
                            script.type = 'text/javascript';
                            document.body.appendChild(script);
                            break;
                        case 'exitFullscreen':
                            if (window.document.exitFullscreen) window.document.exitFullscreen();
                            else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen();
                            else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen();
                            else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen();
                            else if (window.document.msExitFullscreen) window.document.msExitFullscreen();
                            break;
                    }
                    var isJotForm = e.origin.indexOf('jotform') > -1 ? true : false;
                    if (isJotForm && 'contentWindow' in iframe && 'postMessage' in iframe.contentWindow) {
                        var urls = {
                            docurl: encodeURIComponent(document.URL),
                            referrer: encodeURIComponent(document.referrer),
                        };
                        iframe.contentWindow.postMessage(JSON.stringify({ type: 'urls', value: urls }), '*');
                    }
                };
                window.isPermitted = function(originUrl, whitelisted_domains) {
                    var url = document.createElement('a');
                    url.href = originUrl;
                    var hostname = url.hostname;
                    var result = false;
                    if (typeof hostname !== 'undefined') {
                        whitelisted_domains.forEach(function(element) {
                            if (
                                hostname.slice(-1 * element.length - 1) === '.'.concat(element) ||
                                hostname === element
                            ) {
                                result = true;
                            }
                        });
                        return result;
                    }
                };
                if (window.addEventListener) {
                    window.addEventListener('message', handleIFrameMessage, false);
                } else if (window.attachEvent) {
                    window.attachEvent('onmessage', handleIFrameMessage);
                }
            </script>
        </ng-container>
    </div>
</div>
