<div class="p-px-5 p-py-5 container">
    <div class="p-grid p-nogutter">
        <div class="p-col-6">
            <h1 class="p-m-0">Projects</h1>
        </div>
        <div class="p-col-6 p-d-flex p-ai-center p-jc-end">
            <new-project-dialog (onCreateNewProject)="onCreateNewProjectEvent($event)"></new-project-dialog>
        </div>
    </div>
</div>

<div class="projects">
    <ng-container *ngIf="isLoadingProjects; else showProjects">
        <div class="p-d-flex p-jc-center p-py-6">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </ng-container>

    <ng-template #showProjects>
        <div
            class="container p-mb-6 p-p-5 p-shadow-4"
            *ngIf="allProjects?.length; else showNoProjects"
            [ngStyle]="{ backgroundColor: 'var(--surface-a)', borderRadius: 'var(--border-radius-lg)' }"
        >
            <p-tabView>
                <p-tabPanel header="All projects">
                    <ng-container *ngFor="let project of allProjects">
                        <project-card
                            class="project__card"
                            projectName="{{ project.name }}"
                            projectDescription="{{ project.description }}"
                            link="/project/{{ project.id }}"
                            projectId="{{ project.id }}"
                            [projectOwner]="project.isOwner"
                            (onDeleteProjectByIdEvent)="onDeleteProject($event)"
                        >
                        </project-card>
                    </ng-container>
                </p-tabPanel>
                <p-tabPanel header="Created by me">
                    <ng-container *ngFor="let project of myProjects">
                        <project-card
                            class="project__card"
                            projectName="{{ project.name }}"
                            projectDescription="{{ project.description }}"
                            link="/project/{{ project.id }}"
                            projectId="{{ project.id }}"
                            [projectOwner]="project.isOwner"
                            (onDeleteProjectByIdEvent)="onDeleteProject($event)"
                        >
                        </project-card>
                    </ng-container>
                </p-tabPanel>
                <p-tabPanel header="Shared with me">
                    <ng-container *ngFor="let project of sharedProjects">
                        <project-card
                            class="project__card"
                            projectName="{{ project.name }}"
                            projectDescription="{{ project.description }}"
                            link="/project/{{ project.id }}"
                            projectId="{{ project.id }}"
                            [projectOwner]="project.isOwner"
                            (onDeleteProjectByIdEvent)="onDeleteProject($event)"
                        >
                        </project-card>
                    </ng-container>
                </p-tabPanel>
            </p-tabView>
        </div>
        <ng-template #showNoProjects>
            <div class="p-py-3 p-text-center">Looks like you're not a part of any projects yet.</div>
        </ng-template>
    </ng-template>
    <p-confirmDialog header="Delete Project?" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>

<router-outlet></router-outlet>
