<div class="field p-mb-2 p-py-4 p-px-2" #fieldContainer>
    <!-- <div class="field__settings">
        <app-button buttonStyle="'button--dropdown'" icon="more_horiz" dropdownPosition="dropdown--right"></app-button>
    </div>

    <div class="field__handle">
        <app-button buttonStyle="'button--icon'" icon="drag_indicator"></app-button>
    </div> -->

    <div class="p-mb-3">
        <p-inplace closable="closable">
            <ng-template pTemplate="display">
                Name your field
            </ng-template>
            <ng-template pTemplate="content">
                <input type="text" class="p-inputtext-lg" value="Name your field" pInputText />
            </ng-template>
        </p-inplace>
    </div>
    <div class="field__description mb-2">Description</div>

    <ng-content></ng-content>
</div>
