<app-base-field [field]="field" [index]="index">
    <ng-container *ngIf="componentMode === 'view'"></ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <p-table
            [columns]="cols"
            [value]="files"
            [scrollable]="true"
            [rows]="20"
            scrollHeight="250px"
            [virtualScroll]="true"
            [virtualRowHeight]="34"
            styleClass="p-datatable-striped"
        >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <th [ngStyle]="{ width: col.size + '%' }">{{ col.header }}</th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr style="height:34px">
                    <ng-container *ngFor="let col of columns; last as isLast">
                        <td [ngStyle]="{ width: col.size + '%' }" *ngIf="isLast; else elseBlock">
                            <a href="{{ rowData[col.field] }}"
                                ><button pButton type="button" icon="pi pi-download" iconPos="left"></button
                            ></a>
                        </td>
                        <ng-template #elseBlock>
                            <td [ngStyle]="{ width: col.size + '%' }">{{ rowData[col.field] }}</td>
                        </ng-template>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <p-fileUpload
                    mode="basic"
                    name="files[]"
                    url="/"
                    accept="image/*"
                    maxFileSize="1000000"
                    multiple="multiple"
                    [auto]="true"
                    chooseLabel="Upload files"
                ></p-fileUpload>
            </div>

            <div class="p-toolbar-group-right">
                6 files
            </div>
        </p-toolbar>
    </ng-container>
</app-base-field>
