<app-base-field [field]="field" [index]="index">
    <ng-container *ngIf="componentMode === 'view'"> </ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <p-table
            [columns]="cols"
            [value]="fileData"
            [scrollable]="true"
            [rows]="20"
            scrollHeight="250px"
            [virtualScroll]="true"
            [virtualRowHeight]="34"
            styleClass="p-datatable-striped"
        >
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <th [ngStyle]="{ width: col.size + '%' }">{{ col.header }}</th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr style="height:34px">
                    <ng-container *ngFor="let col of columns; last as isLast">
                        <td [ngStyle]="{ width: col.size + '%' }" *ngIf="isLast; else elseBlock">
                            <a href="{{ rowData[col.field] }}"
                                ><button pButton type="button" icon="pi pi-download" iconPos="left"></button
                            ></a>
                        </td>
                        <ng-template #elseBlock>
                            <td [ngStyle]="{ width: col.size + '%' }">
                                {{ rowData[col.field] ? rowData[col.field] : 'Unknown' }}
                            </td>
                        </ng-template>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button type="button" label="Upload Files" pButton (click)="showFileUploaderDialog = true"></button>
            </div>
        </p-toolbar>
    </ng-container>

    <!-- <div class="p-toolbar-group-right">{{ fileData.length }} files</div> -->
    <p-dialog
        [(visible)]="showFileUploaderDialog"
        header="File Uploader"
        styleClass="dialog"
        focusTrap="true"
        modal="true"
    >
        <div class="p-field p-pt-2">
            <div class="p-toolbar-group-left">
                <p-fileUpload
                    #fileUploader
                    mode="basic"
                    maxFileSize="1000000"
                    [chooseLabel]="dialogData.title ? dialogData.title : 'Select file'"
                    (onSelect)="onFileUploadSelected($event)"
                ></p-fileUpload>
            </div>
        </div>
        <div class="p-field">
            <label for="fileName" aria-describedby="Add a file name" styleClass="labelBlock">File Name</label>
            <input id="fileName" type="text" pInputText [(ngModel)]="dialogData.title" style="width: 100%" />
        </div>
        <div class="p-field p-pt-2">
            <label for="description" aria-describedby="Add a description" styleClass="labelBlock">Description</label>
            <input id="description" type="text" pInputText [(ngModel)]="dialogData.description" style="width: 100%" />
        </div>
        <div class="p-field p-pt-2">
            <label for="altText" aria-describedby="Add a alternate text" styleClass="labelBlock">Alt Text</label>
            <input id="altText" type="text" pInputText [(ngModel)]="dialogData.altText" style="width: 100%" />
        </div>

        <button type="button" label="Submit" pButton (click)="onDialogSubmit($event)"></button>
    </p-dialog>
</app-base-field>
