<app-base-field [field]="field" [index]="index">
    <ng-container *ngIf="componentMode === 'view'"> </ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <p-table
            [scrollable]="true"
            [rows]="20"
            [columns]="cols"
            [value]="fileData"
            scrollHeight="250px"
            [virtualScroll]="true"
            [virtualRowHeight]="34"
            styleClass="p-datatable-striped"
        >
            <ng-template pTemplate="header">
                <tr>
                    <ng-container *ngFor="let col of cols">
                        <th [ngStyle]="{ width: col.size + '%' }">{{ col.header }}</th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <ng-container>
                    <tr style="height:34px">
                        <td style="width: 25%;">{{ rowData.title }}</td>
                        <td style="width: 50%;">{{ rowData.description }}</td>
                        <td style="width: 10%;">{{ rowData.type }}</td>

                        <td style="width: 15%;">
                            <a [href]="rowData.href"
                                ><button pButton type="button" icon="pi pi-download" iconPos="left"></button
                            ></a>
                        </td>
                        <td style="width: 10%;">
                            <button
                                pButton
                                type="button"
                                icon="pi pi-times"
                                class="p-button-text"
                                (click)="onFileDeletePress(rowIndex)"
                            ></button>
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </p-table>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button type="button" label="Upload Files" pButton (click)="showFileUploaderDialog = true"></button>
            </div>
        </p-toolbar>
    </ng-container>

    <!-- <div class="p-toolbar-group-right">{{ fileData.length }} files</div> -->
    <p-dialog
        [(visible)]="showFileUploaderDialog"
        header="File Uploader"
        styleClass="dialog"
        focusTrap="true"
        modal="true"
    >
        <div class="p-field p-pt-2">
            <div class="p-toolbar-group-left">
                <p-fileUpload
                    #fileUploader
                    mode="basic"
                    maxFileSize="10000000"
                    [chooseLabel]="dialogData.title ? dialogData.title : 'Select file'"
                    (onSelect)="onFileUploadSelected($event)"
                ></p-fileUpload>
            </div>
        </div>
        <div class="p-field">
            <label for="fileName" aria-describedby="Add a file name" styleClass="labelBlock">File Name</label>
            <input id="fileName" type="text" pInputText [(ngModel)]="dialogData.title" style="width: 100%" />
        </div>
        <div class="p-field p-pt-2">
            <label for="description" aria-describedby="Add a description" styleClass="labelBlock">Description</label>
            <input id="description" type="text" pInputText [(ngModel)]="dialogData.description" style="width: 100%" />
        </div>

        <button type="button" label="Submit" pButton (click)="onDialogSubmit($event)"></button>
    </p-dialog>
</app-base-field>
