<div class="project p-d-flex p-ai-center">
    <div class="project__row p-p-3 p-d-flex p-jc-between">
        <div class="project__row--desc p-py-2" (click)="navigate()">
            <strong>{{ projectName | sliceEllipsis: 0:80 }}</strong>
            <div>
                <span>{{ projectDescription | sliceEllipsis: 0:80 }}</span>
                <!-- <span>{{ projectOwnerName }}</span> -->
            </div>
        </div>
        <!-- <div class="p-p-3" (click)="navigate()">
            <span title="{{ openedDate }}">date{{ openedDate | sliceEllipsis: 0:40 }}</span>
        </div> -->
        <div class="project__menu p-m-auto">
            <ng-container *ngIf="projectId?.length > 0 && projectOwner; else placeholderButton">
                <button
                    type="button"
                    class="p-button-text p-button-plain"
                    pButton
                    icon="pi pi-ellipsis-h"
                    (click)="menu.toggle($event)"
                ></button>
                <p-menu #menu [popup]="true" [model]="projectMenuOptions" appendTo="body"></p-menu>
            </ng-container>
            <ng-template #placeholderButton>
                <button
                    type="button"
                    class="p-button-text p-button-plain"
                    pButton
                    icon="pi pi-ellipsis-h"
                    style="opacity: 0"
                    (click)="navigate()"
                ></button>
            </ng-template>
        </div>
    </div>
</div>
