<nav class="nav">
    <div class="nav__back">
        <a href="https://stepflow.co">&#8592; Back to Stepflow.co</a>
    </div>
</nav>

<div class="thank-you">
    <div class="thank-you__body">
        <img src="../../../assets/stepflow-logo.svg" />

        <div class="body__text">
            <h1>
                Thank you!
            </h1>
            <p>
                Thanks for signing up for the Stepflow wait-list.
                <ng-container *ngIf="totalWaitlist > 1">
                    There are a total of <b>{{ totalWaitlist }}</b> others in the queue.
                </ng-container>
                We will notify you via email when you can access our beta.
            </p>
        </div>
    </div>
</div>
