<div class="viewer" #viewer>
    <div class="viewer-container">
        <div class="viewer-container__step" *ngIf="currentStep; else showErrorState">
            <div class="viewer-container__steps">
                <project-steps
                    (dragAndDropStepEvent)="onDragAndDropStepEvent($event)"
                    [canConfigureProject]="canConfigureProject"
                ></project-steps>
            </div>
            <div class="p-py-5 p-px-6 step-title">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <div class="p-d-flex p-flex-column">
                        <div class="p-d-flex p-ai-center">
                            <h2 class="ms-4 p-my-0 p-pr-2">{{ currentStep.step.title }}</h2>
                            <ng-container *ngIf="currentStep.step.status" [ngSwitch]="currentStep.step.status.value">
                                <div *ngSwitchCase="'in-progress'" class="step-status-label ms-02">
                                    <span class="step-status-text p-pr-1">{{ currentStep.step.status.label }}</span>
                                    <i class="pi {{ currentStep.step.status.icon }}" style="color: var(--progress)"></i>
                                </div>
                                <div *ngSwitchCase="'upcoming'" class="step-status-label ms-02">
                                    <span class="step-status-text p-pr-1">{{ currentStep.step.status.label }}</span>
                                    <i class="pi {{ currentStep.step.status.icon }}" style="color: var(--upcoming)"></i>
                                </div>
                                <div *ngSwitchCase="'completed'" class="step-status-label ms-02">
                                    <span class="step-status-text p-pr-1">{{ currentStep.step.status.label }}</span>
                                    <i
                                        class="pi {{ currentStep.step.status.icon }}"
                                        style="color: var(--completed)"
                                    ></i>
                                </div>
                                <div *ngSwitchCase="'needs-review'" class="step-status-label ms-02">
                                    <span class="step-status-text p-pr-1">{{ currentStep.step.status.label }}</span>
                                    <i class="pi {{ currentStep.step.status.icon }}" style="color: var(--review)"></i>
                                </div>
                            </ng-container>
                        </div>
                        <span *ngIf="currentStep.step.description" class="p-pt-1">{{
                            currentStep.step.description
                        }}</span>
                    </div>
                    <step-controls [canConfigureProject]="canConfigureProject"></step-controls>
                </div>
            </div>
            <div class="step-container p-mb-6">
                <div class="p-px-4 p-py-6 step-content">
                    <project-dynamic-form
                        [fields]="currentStep.components"
                        (dragAndDropEvent)="onDragAndDropEvent($event)"
                    ></project-dynamic-form>
                    <div class="p-py-6 p-d-flex p-jc-center p-ai-center powered-by ms-01">
                        <a href="https://project-workflows.co" target="_blank">
                            <p-chip label="Powered by Project Workflows" styleClass="p-ml-1 p-px-3 custom-chip"></p-chip
                        ></a>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #showErrorState>
            <div class="p-col-9 p-d-flex p-ai-center"></div>
        </ng-template>
    </div>

    <div class="p-px-2">
        <comments-container [blocks]="currentStep?.components"></comments-container>
    </div>
    <!-- TODO: rig this up with a menu and some items, make floating in bottom right -->
    <!-- <div class="control__button control__button--bottom p-mb-2 p-d-flex p-dir-col p-ai-end">
        <a
            pButton
            class="p-button-raised p-button-text p-button-rounded p-button-white feedback-link"
            icon="pi pi-question"
            href="https://forms.gle/rPCm7CRZdHDKZBV9A"
            target="_blank"
            pTooltip="Send us feedback"
        ></a>
    </div> -->
</div>
