@import 'variables';
@import 'utilities/modularscale';

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin visible {
    display: block !important;
}

@mixin hidden {
    display: none !important;
}
