/* You can add global styles to this file, and also import other style files */

// CSS RESET
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// VARIABLES AND MIXINS
@import 'core';

:root {
    --clr-text: #1c1c39;
    --clr-greytext: #747498;
    --primary-color: #552aff;
    --primary-color-light: #552aff0a;
    --primary-color-medium: #552aff0d;
    --clr-b: #161687;
    --clr-t: #47d1ed;
    --clr-r: #e9006a;
    --clr-g: #fbf8f7;
    --hvr-primary: #4421d2;
    --hvr-r: #d40061;
}

// RESET
*,
::after,
::before {
    box-sizing: inherit;
}

html {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: $baseline;
    height: 100%;
}

// GENERAL
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

body.noscroll {
    position: fixed;
    overflow: hidden;
}

.wrapper {
    padding: 24px;
}

.container {
    width: 80%;
    width: 80vw;
    margin: 0 auto;
    min-width: 960px;
}

@media screen and (max-width: 60em) {
    .container {
        width: 95%;
        width: 95vw;
        min-width: auto;
    }
}

.visible {
    @include visible;
}
.hidden {
    @include hidden;
}

a,
a:visited {
    text-decoration: none;
    color: var(--primary-color);
    &:hover {
        text-decoration: underline;
    }
}

button {
    background: none;
    border: none;
    color: var(--primary-color);
    display: inline-flex;
    &:hover {
        cursor: pointer;
        color: var(--hvr-primary);
    }
    i {
        margin-right: 0.5rem;
    }
}

// TYPOGRAPHY
@import 'group/typography';

// PRIME OVERRIDES
.dialog {
    width: 40vw;
}

@media screen and (max-width: 40em) {
    .dialog {
        width: 75vw;
    }
}

.p-field > label {
    display: block;
}

.p-button {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.p-button:enabled:hover {
    background: var(--hvr-primary);
    border: 1px solid var(--hvr-primary);
}
.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
    border-color: var(--primary-color);
}
.p-button.p-button-text {
    color: var(--primary-color);
}
.p-button.p-button-text:enabled:hover {
    background: var(--primary-color-light);
    color: var(--primary-color);
}

//DRAG & DROP

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background: white;
    z-index: 9999;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
    cursor: move !important;
}

.p-tag {
    display: inline-flex !important;
    align-items: center;
    line-height: normal !important;
}
