/* You can add global styles to this file, and also import other style files */

// CSS RESET
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// VARIABLES AND MIXINS
@import 'core';

// RESET
*,
::after,
::before {
    box-sizing: inherit;
}

html {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: $baseline;
    height: 100%;
}

// GENERAL
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

body.noscroll {
    position: fixed;
    overflow: hidden;
}

.wrapper {
    padding: 24px;
}

.container {
    width: 80%;
    width: 80vw;
    margin: 0 auto;
    min-width: 960px;
}

@media screen and (max-width: 60em) {
    .container {
        width: 95%;
        width: 95vw;
        min-width: auto;
    }
}

.visible {
    @include visible;
}
.hidden {
    @include hidden;
}

a {
    text-decoration: none;
}

a:visited {
    color: $action;
}

// TYPOGRAPHY
@import 'group/typography';

// PRIME OVERRIDES
.dialog {
    width: 40vw;
}

@media screen and (max-width: 40em) {
    .dialog {
        width: 75vw;
    }
}

.p-field > label {
    display: block;
}
