<!-- <div class="p-col-12 nav p-d-flex p-ai-center">
    <div class="container p-d-flex p-ai-center p-jc-between">
        <a href="https://stepflow.co" alt="Stepflow logo" style="height: 26px;">
            <img src="/assets/stepflow-logo.svg" alt="Stepflow logo" height="26px" />
        </a>
        <ng-container *ngIf="authMode === 'register'">
            <button pButton type="button" class="p-button-secondary" label="Login" routerLink="/auth/login"></button>
        </ng-container>
        <ng-container *ngIf="authMode === 'login'">
            <button
                pButton
                type="button"
                class="p-button-secondary"
                label="Join the waitlist"
                routerLink="/auth/register"
            ></button>
        </ng-container>
    </div>
</div> -->
<ng-container *ngIf="authMode === 'register'">
    <div class="p-d-flex register p-p-4">
        <div class="p-col-5 register__left">
            <div class="p-d-flex p-p-4 p-flex-column p-jc-between" style="height: 100%">
                <div class="intro">
                    <a href="https://stepflow.co" alt="Stepflow logo" style="height: 26px;">
                        <img src="/assets/stepflow-logo-white.svg" alt="Stepflow logo" height="26px" />
                    </a>
                    <h1 class="ms-8 p-mt-6 p-pt-6">Start your journey with us</h1>
                    <p class="ms-3">
                        Bring everything together into one place to work more effectively with your customers.
                    </p>
                </div>
                <div class="info">
                    <div class="p-p-4">
                        <h4 class="p-mt-0"><i class="pi pi-info-circle"></i> Stepflow is in beta</h4>
                        <p>
                            We&#x27;re currently in the process of testing the first version of our application with
                            select users. When you sign up you will be added to a waitlist and be one of the first to
                            access all that Stepflow has to offer.
                        </p>
                        <p>
                            Our team is excited to have you around and we hope you enjoy this first glimpse at our app!
                        </p>
                    </div>
                </div>
            </div>
            <!-- <p-card header="{{ authInfo.plan }} plan" subheader="${{ authInfo.planPrice }}/mo" class="price">
                    + Early access<br />
                    + 14 day trial<br />
                    <hr />
                    Total after early access & trial: ${{ authInfo.planPrice }}/mo<br />
                    <strong>Due today: $0/mo</strong>
                </p-card>
                <div class="p-mt-2">
                    <a href="https://stepflow.co/plans-and-pricing">Switch plans</a>
                </div> -->
        </div>
        <div class="p-col-7">
            <div class="p-px-6">
                <h2 class="p-mb-2 ms-5">Create your account</h2>
                <p class="p-mb-6 p-mt-3">
                    Have an account?
                    <a href="#" routerLink="/auth/login">Sign in.</a>
                </p>
                <div class="p-field">
                    <label for="name" class="text-secondary">First name</label>
                    <input
                        id="name"
                        type="name"
                        style="width: 100%;"
                        class="p-py-3"
                        aria-describedby="Enter your first name"
                        pInputText
                        [(ngModel)]="authInfo.firstName"
                    />
                </div>
                <div class="p-field">
                    <label for="name" class="text-secondary">Last name</label>
                    <input
                        id="name"
                        type="name"
                        style="width: 100%;"
                        class="p-py-3"
                        aria-describedby="Enter your last name"
                        pInputText
                        [(ngModel)]="authInfo.lastName"
                    />
                </div>
                <div class="p-field">
                    <label for="email" class="text-secondary">Email</label>
                    <input
                        id="email"
                        type="email"
                        style="width: 100%;"
                        class="p-py-3"
                        aria-describedby="Enter your email"
                        pInputText
                        [(ngModel)]="authInfo.email"
                    />
                </div>
                <div class="p-field">
                    <label for="password" class="text-secondary">Password</label>
                    <input
                        id="password"
                        type="password"
                        style="width: 100%;"
                        class="p-py-3"
                        aria-describedby="Enter a secure password"
                        pInputText
                        [(ngModel)]="authInfo.password"
                    />
                </div>
                <div class="p-field">
                    <label for="cpassword" class="text-secondary">Confirm password</label>
                    <input
                        id="cpassword"
                        type="password"
                        style="width: 100%;"
                        class="p-py-3"
                        aria-describedby="Confirm password previously entered"
                        [(ngModel)]="authInfo.password2"
                        pInputText
                    />
                </div>
                <div class="p-field p-pt-2">
                    <!-- <input type="hidden" name="plan" value="{{ authInfo.plan }}" [(ngModel)]="authInfo.plan" /> -->
                    <input type="hidden" name="plan" value="Starter" />
                    <button
                        pButton
                        type="button"
                        label="Sign up"
                        class="p-button-lg"
                        (click)="register()"
                        [disabled]="isLoading"
                    ></button>
                    <ng-container *ngIf="isLoading">
                        <div class="p-d-flex p-jc-center p-py-6">
                            <p-progressSpinner></p-progressSpinner>
                        </div>
                    </ng-container>
                    <p>
                        By clicking "Sign up" you agree to Stepflow's
                        <a href="https://stepflow.co/terms-of-service" target="_blank">Terms of Service</a> and
                        <a href="https://stepflow.co/privacy" target="_blank">Privacy Policy</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="authMode === 'login'">
    <div class="p-d-flex p-flex-column p-ai-center p-jc-center login">
        <div class="p-d-flex p-flex-column" style="min-width: 320px;">
            <div style="height: 40px;" class="p-d-flex p-jc-center p-mb-6">
                <img src="/assets/stepflow-logo.svg" alt="Stepflow logo" height="40px" />
            </div>
            <div class="p-field p-col-12">
                <span class="p-float-label">
                    <div class="p-float-label">
                        <input
                            id="email"
                            type="email"
                            pInputText
                            style="width: 100%;"
                            class="p-py-3"
                            [(ngModel)]="authInfo.email"
                        />
                        <label for="email">Email</label>
                    </div>
                </span>
            </div>
            <div class="p-field p-col-12">
                <span class="p-float-label">
                    <div class="p-float-label">
                        <input
                            id="password"
                            type="password"
                            pInputText
                            style="width: 100%;"
                            class="p-py-3"
                            [(ngModel)]="authInfo.password"
                        />
                        <label for="password">Password</label>
                    </div>
                </span>
            </div>
            <div class="p-field p-col-12">
                <button
                    pButton
                    type="button"
                    label="Login"
                    class="p-button-lg"
                    style="width: 100%;"
                    (click)="login()"
                ></button>
                <p class="p-mt-4 text-secondary">
                    New to Stepflow? <a href="#" routerLink="/auth/register">Get started.</a>
                </p>
            </div>
            <button
                pButton
                type="button"
                label="stepflow.co"
                icon="pi pi-chevron-left"
                class="p-button p-button-text p-button-secondary p-d-flex p-ai-center"
                style="position: absolute;top: 10px;left: 10px;text-decoration:none;"
                (click)="goToHomepage()"
            ></button>
        </div>
    </div>
</ng-container>
