.nav {
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}
.price {
    hr {
        border: none;
        border-top: 1px dashed #000;
    }
}
.info {
    background: linear-gradient(94.76deg, #d7e7f3 46.16%, #eaf2f8 288.04%);
    border-radius: 4px;
}
.login {
    height: calc(100vh - 60px);
}

@media (max-width: 768px) {
    .register {
        .p-d-flex {
            flex-direction: column;
        }
        .p-col-7,
        .p-col-5 {
            width: 100%;
        }
    }
}
