.nav {
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}
.price {
    hr {
        border: none;
        border-top: 1px dashed #000;
    }
}
.info {
    background: linear-gradient(94.76deg, #eaeff4 46.16%, #ffffff 288.04%);
    border-radius: 4px;
}
.login,
.register {
    height: 100vh;
    background: white;
}

.register {
    &__left {
        background: var(--primary-color);
        border-radius: var(--border-radius-md);
        .intro {
            color: white;
        }
    }
}

@media (max-width: 768px) {
    .register {
        .p-d-flex {
            flex-direction: column;
        }
        .p-col-7,
        .p-col-5 {
            width: 100%;
        }
    }
}
