<app-base-field [field]="field" [index]="index">
    <ng-container *ngIf="componentMode === 'view'">
        <div class="text view">
            <p class="p-p-2">{{ field.metadata.data.value ? field.metadata.data.value : 'No content' }}</p>
        </div>
    </ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <div class="text edit">
            <input type="text" pInputText [(ngModel)]="field.metadata.data.value" placeholder="Add content" />
        </div>
    </ng-container>
</app-base-field>
