<app-base-field [field]="field" [index]="index">
    <ng-container *ngIf="componentMode === 'view'">
        <div class="text view">
            <textarea
                pInputTextarea
                [ngModel]="field.metadata.data.value"
                placeholder="No content"
                readonly
                class="text__input"
                [style.height.px]="settings?.textInputComponent?.textareaHeight"
            ></textarea>
        </div>
    </ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <div class="text edit">
            <textarea
                pInputTextarea
                placeholder="Add content"
                [(ngModel)]="field.metadata.data.value"
                [rows]="2"
                [cols]="30"
                autoResize="autoResize"
                (focusout)="onFocusOut($event)"
            >
            </textarea>
        </div>
    </ng-container>
</app-base-field>
