@import 'core';

.large-text {
    width: 100%;
}

.large-text textarea {
    width: 80%;
    // resize: none;
}

.large-text.view {
    .large-text__input {
        border: none;
        background: transparent;
    }
}
