<div class="viewer" #viewer>
    <div class="p-grid p-nogutter viewer-container">
        <div class="p-col-3 overflow-hidden">
            <project-steps (dragAndDropStepEvent)="onDragAndDropStepEvent($event)"></project-steps>
        </div>
        <div
            class="p-col-9 p-px-3 p-pt-5 viewer-container__step overflow-hidden"
            *ngIf="currentStep; else showErrorState"
        >
            <div class="p-grid p-nogutter" style="min-height: 100%">
                <div class="p-col-11">
                    <div
                        class="step-container p-px-3 p-pb-5 p-mb-5
                    "
                    >
                        <div class="p-mb-4 p-px-2">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <div class="p-d-flex p-flex-column">
                                    <h2 class="ms-4 p-my-0 p-pr-2">{{ currentStep.step.title }}</h2>
                                    <span *ngIf="currentStep.step.description" class="p-pt-1">{{
                                        currentStep.step.description
                                    }}</span>
                                </div>
                                <ng-container
                                    *ngIf="currentStep.step.status"
                                    [ngSwitch]="currentStep.step.status.value"
                                >
                                    <div *ngSwitchCase="'in-progress'" class="step-status-label ms-02">
                                        <span class="p-tag p-tag-rounded p-tag-warning p-mr-1">
                                            <i class="pi {{ currentStep.step.status.icon }}"></i>
                                        </span>
                                        <span>{{ currentStep.step.status.label }}</span>
                                    </div>
                                    <div *ngSwitchCase="'upcoming'" class="step-status-label ms-02">
                                        <span class="p-tag p-tag-rounded  p-mr-1">
                                            <i class="pi {{ currentStep.step.status.icon }}"></i
                                        ></span>
                                        <span>{{ currentStep.step.status.label }}</span>
                                    </div>
                                    <div *ngSwitchCase="'completed'" class="step-status-label ms-02">
                                        <span class="p-tag p-tag-rounded p-tag-success p-mr-1">
                                            <i class="pi {{ currentStep.step.status.icon }}"></i
                                        ></span>
                                        <span>{{ currentStep.step.status.label }}</span>
                                    </div>
                                    <div *ngSwitchCase="'needs-review'" class="step-status-label ms-02">
                                        <span class="p-tag p-tag-rounded p-tag-danger p-mr-1">
                                            <i class="pi {{ currentStep.step.status.icon }}"></i
                                        ></span>
                                        <span>{{ currentStep.step.status.label }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="p-px-2">
                            <project-dynamic-form
                                [fields]="currentStep.components"
                                (dragAndDropEvent)="onDragAndDropEvent($event)"
                                [componentMode]="componentMode"
                            ></project-dynamic-form>
                        </div>
                    </div>
                    <div class="p-pb-4 powered-by ms-01">Powered by Stepflow</div>
                </div>
                <div class="p-col-1" style="position: relative">
                    <step-controls></step-controls>
                </div>
            </div>
        </div>
        <ng-template #showErrorState>
            <div class="p-col-9 p-d-flex p-ai-center"></div>
        </ng-template>
    </div>
</div>
