<div class="viewer" #viewer>
    <div class="viewer-container">
        <div class="viewer-container__steps">
            <project-steps
                (dragAndDropStepEvent)="onDragAndDropStepEvent($event)"
                [canConfigureProject]="canConfigureProject"
            ></project-steps>
        </div>
        <div class="viewer-container__step p-my-6" *ngIf="currentStep; else showErrorState">
            <div class="step-container p-p-4">
                <div class="p-pb-4 p-px-2">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <div class="p-d-flex p-flex-column">
                            <h2 class="ms-4 p-my-0 p-pr-2">{{ currentStep.step.title }}</h2>
                            <span *ngIf="currentStep.step.description" class="p-pt-1">{{
                                currentStep.step.description
                            }}</span>
                        </div>
                        <ng-container *ngIf="currentStep.step.status" [ngSwitch]="currentStep.step.status.value">
                            <div *ngSwitchCase="'in-progress'" class="step-status-label ms-02">
                                <span class="step-status-text p-pr-1">{{ currentStep.step.status.label }}</span>
                                <i class="pi {{ currentStep.step.status.icon }}" style="color: var(--progress)"></i>
                            </div>
                            <div *ngSwitchCase="'upcoming'" class="step-status-label ms-02">
                                <span class="step-status-text p-pr-1">{{ currentStep.step.status.label }}</span>
                                <i class="pi {{ currentStep.step.status.icon }}" style="color: var(--upcoming)"></i>
                            </div>
                            <div *ngSwitchCase="'completed'" class="step-status-label ms-02">
                                <span class="step-status-text p-pr-1">{{ currentStep.step.status.label }}</span>
                                <i class="pi {{ currentStep.step.status.icon }}" style="color: var(--completed)"></i>
                            </div>
                            <div *ngSwitchCase="'needs-review'" class="step-status-label ms-02">
                                <span class="step-status-text p-pr-1">{{ currentStep.step.status.label }}</span>
                                <i class="pi {{ currentStep.step.status.icon }}" style="color: var(--review)"></i>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div>
                    <project-dynamic-form
                        [fields]="currentStep.components"
                        (dragAndDropEvent)="onDragAndDropEvent($event)"
                    ></project-dynamic-form>
                    <div class="p-pb-4 p-d-flex p-jc-center p-ai-center powered-by ms-01">
                        <a href="https://stepflow.co" target="_blank">
                            <p-chip label="Powered by Stepflow" styleClass="p-ml-1 p-px-3 custom-chip"></p-chip
                        ></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="viewer-container__controls" style="position: relative">
            <step-controls [canConfigureProject]="canConfigureProject"></step-controls>
        </div>
        <ng-template #showErrorState>
            <div class="p-col-9 p-d-flex p-ai-center"></div>
        </ng-template>
    </div>

    <div class="p-px-2">
        <comments-container [blocks]="currentStep?.components"></comments-container>
    </div>
</div>
