<app-base-field>
    <div class="linear-scale">
        <app-button [buttonStyle]="'button--dropdown'" [dropdownItems]="['1', '2', '3', '4', '5']" text="1" class="mr-2"></app-button>
        <span>to</span>
        <app-button [buttonStyle]="'button--dropdown'" [dropdownItems]="['1', '2', '3', '4', '5']" text="5" class="mx-2"></app-button>
        <input type="text" name="linear-scale-start" placeholder="1:Label" class="linear-scale__input mr-2">
        <input type="text" name="linear-scale-end" placeholder="5:Label" class="linear-scale__input">
    </div>
</app-base-field>
