.edit {
    &__form-group {
        display: flex;
        gap: 12px;
        border-radius: 4px;
        border: 2px solid var(--surface-f);
        &:focus,
        &:focus-visible {
            border-color: var(--primary-color);
            outline: none;
        }
        textarea {
            width: 100%;
            resize: none;
            overflow: scroll;
            border: none;
            outline: none;
            align-self: center;
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */
            &:focus,
            &:focus-visible {
                outline: none;
            }
        }
        textarea::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }
        .p-button.p-button-icon-only {
            padding: 1rem !important;
            align-self: flex-end;
        }
    }
}
