<div class="edit">
    <form [formGroup]="formGroup">
        <div class="edit__form-group p-p-2">
            <textarea class="form-control" id="comment" formControlName="body" autosize></textarea>
            <button
                pButton
                pRipple
                type="button"
                icon="pi pi-arrow-up"
                aria-label="Comment"
                class="p-button-rounded"
                (click)="onSubmitPressed()"
                [disabled]="!formGroup.valid || (commentDetail && !commentDetail?.isEditable)"
            ></button>
        </div>
    </form>
    <!-- <p-button
        label="Comment"
        (click)="onSubmitPressed()"
        [disabled]="!formGroup.valid || (commentDetail && !commentDetail?.isEditable)"
    ></p-button> -->
    <!-- (keydown)="handleTextAreaHeight($event)" -->

    <!-- <p-button label="Cancel" styleClass="p-button-link" (click)="onCancelPressed()"></p-button> -->
</div>
