.step-status {
    min-width: 16px;
    max-width: 16px;
    height: 16px;
    position: relative;
    .step-icon {
        width: 16px;
        height: 16px;
        z-index: 2;
        position: relative;
        padding-right: 6px;
        border-right: 2px solid var(--text-color);
        i {
            font-size: 10px;
        }
        &--default {
            width: 16px;
            height: 16px;
        }
    }
    // .step-line {
    //     height: 50px;
    //     position: absolute;
    //     left: 8px;
    //     width: 2px;
    //     top: 15px;
    //     background: var(--surface-d);
    //     z-index: 1;
    //     opacity: 0;
    // }
}
