<div class="step-inner p-d-flex p-ai-center p-px-2 p-py-2">
    <div class="ms-0 step-label">{{ step.title }}</div>
    <div class="step-status p-d-flex p-ai-center p-jc-center" *ngIf="step.status">
        <ng-container [ngSwitch]="step.status.value">
            <div *ngSwitchCase="'upcoming'" class="step-icon p-d-flex p-jc-center p-ai-center">
                <i
                    class="pi {{ step.status.icon }} ms-01"
                    pTooltip="{{ step.status.label }}"
                    style="color: var(--upcoming)"
                ></i>
            </div>
            <div *ngSwitchCase="'completed'" class="step-icon p-d-flex p-jc-center p-ai-center">
                <i
                    class="pi {{ step.status.icon }} ms-01"
                    pTooltip="{{ step.status.label }}"
                    style="color: var(--completed)"
                ></i>
            </div>
            <div *ngSwitchCase="'needs-review'" class="step-icon p-d-flex p-jc-center p-ai-center">
                <i
                    class="pi {{ step.status.icon }} ms-01"
                    pTooltip="{{ step.status.label }}"
                    style="color: var(--review)"
                ></i>
            </div>
            <div *ngSwitchCase="'in-progress'" class="step-icon p-d-flex p-jc-center p-ai-center">
                <i
                    class="pi {{ step.status.icon }} ms-01"
                    pTooltip="{{ step.status.label }}"
                    style="color: var(--progress)"
                ></i>
            </div>
            <div *ngSwitchCase="'no-status'" class="step-icon p-d-flex p-jc-center p-ai-center"></div>
        </ng-container>
    </div>
    <button
        *ngIf="currentStep"
        type="button"
        class="p-button-text p-button-plain step-inner__edit p-jc-center p-p-0"
        pButton
        icon="pi pi-pencil"
        (click)="toggleMenu()"
    ></button>
</div>
