<div class="p-d-flex p-jc-between p-ai-center p-p-2">
    <div class="step-status p-d-flex p-ai-center p-jc-center">
        <ng-container *ngIf="step.status && step.status.value != 'no-status'; else nostatus">
            <ng-container [ngSwitch]="step.status.value">
                <div
                    *ngSwitchCase="'upcoming'"
                    class="step-status__icon p-d-flex p-jc-center p-ai-center"
                    style="background-color: var(--info-color);"
                >
                    <i class="pi {{ step.status.icon }} ms-01" pTooltip="{{ step.status.label }}"></i>
                </div>
                <div
                    *ngSwitchCase="'completed'"
                    class="step-status__icon p-d-flex p-jc-center p-ai-center"
                    style="background-color: #759D53;"
                >
                    <i class="pi {{ step.status.icon }} ms-01" pTooltip="{{ step.status.label }}"></i>
                </div>
                <div
                    *ngSwitchCase="'needs-review'"
                    class="step-status__icon p-d-flex p-jc-center p-ai-center"
                    style="background-color: #c76c6c"
                >
                    <i class="pi {{ step.status.icon }} ms-01" pTooltip="{{ step.status.label }}"></i>
                </div>
                <div
                    *ngSwitchCase="'in-progress'"
                    class="step-status__icon p-d-flex p-jc-center p-ai-center"
                    style="background-color: #AD9048;"
                >
                    <i class="pi {{ step.status.icon }} ms-01" pTooltip="{{ step.status.label }}"></i>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #nostatus>
            <div class="step-status__icon step-status__icon--default"></div>
        </ng-template>
        <div class="step-line"></div>
    </div>
    <div class="p-d-flex p-jc-between p-pl-2" style="flex-grow: 1;">
        <div class="p-d-flex p-flex-column">
            <div class="ms-0">{{ step.title }}</div>
        </div>
    </div>
</div>
