<ng-container [ngSwitch]="buttonStyle">
    <ng-container *ngSwitchCase="'button--dropdown'">
        <div class="dropdown mb-2 {{dropdownPosition}}" (click)="onClick()" [ngClass]="expanded ? 'dropdown--active' : ''">
            <ng-container *ngIf="icon; else hasText">
                <button class="button button--icon">
                    <i class="button__icon material-icons" [ngClass]="icon">{{icon}}</i>
                </button>
            </ng-container>
            <ng-template #hasText>
                <button class="button" [ngClass]="buttonStyle">
                    <span>{{text}}</span>
                    <span class="dropdown__icon">
                    <i class="material-icons expand_more">expand_more</i>
                </span>
                </button>
            </ng-template>
            <div *ngIf="dropdownItems" class="dropdown__menu" role="menu">
                <div class="dropdown__content">
                    <a href="#" class="dropdown__item" *ngFor="let item of dropdownItems; index as i">
                        {{item}}
                    </a>
                    <a href="#" class="dropdown__item dropdown__item--active">
                        Active dropdown item
                    </a>
                    <hr class="dropdown__divider">
                    <a href="#" class="dropdown__item">
                        With a divider
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'button--round'">
        <button class="button" [ngClass]="buttonStyle">
            <i *ngIf="icon" class="button__icon material-icons" [ngClass]="icon">{{icon}}</i>
        </button>
    </ng-container>
    <ng-container *ngSwitchCase="'button--icon'">
        <button class="button" [ngClass]="buttonStyle">
            <i *ngIf="icon" class="button__icon material-icons" [ngClass]="icon">{{icon}}</i>
        </button>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <button class="button" [ngClass]="buttonStyle">
            <span>{{text}}</span>
        </button>
    </ng-container>
</ng-container>
