<p-dialog
    header="Create a new project"
    [(visible)]="showDialog"
    styleClass="dialog"
    focusTrap="true"
    modal="true"
    (onHide)="resetDialog()"
>
    <p-message
        *ngIf="showProjectError"
        severity="error"
        text="Enter a title to create a new project"
        styleClass="p-mb-4"
    ></p-message>
    <div class="p-field">
        <label for="title" aria-describedby="Name your step" styleClass="labelBlock">Name</label>
        <input id="title" type="text" pInputText [(ngModel)]="projectName" />
    </div>
    <div class="p-field p-pt-2">
        <label for="description" aria-describedby="Add a description" styleClass="labelBlock">Description</label>
        <input id="description" type="text" pInputText [(ngModel)]="description" />
    </div>

    <p-footer>
        <button type="button" pButton label="Create" (click)="createNewProjectPress()"></button>
    </p-footer>
</p-dialog>

<button
    pButton
    type="button"
    icon="pi pi-plus"
    iconPos="left"
    label="New Project"
    (click)="showNewProjectDialog()"
></button>
