<app-base-field>
    <div class="table">
        <p-table [value]="tableData" [resizableColumns]="true" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn>Name</th>
                    <th pResizableColumn>Description</th>
                    <th pResizableColumn>Hours</th>
                    <th pResizableColumn>Price</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tableData>
                <tr>
                    <td>{{tableData.name}}</td>
                    <td>{{tableData.description}}</td>
                    <td>{{tableData.hours}}</td>
                    <td>{{tableData.price}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</app-base-field>
