<project-drag-and-resize [(field)]="field" (componentMode)="setComponentMode($event)" [index]="index">
    <ng-container *ngIf="componentMode === 'view'">
        <div class="rich-text view">
            <div
                class="p-pt-2"
                [innerHTML]="field.metadata.data.value ? field.metadata.data.value : 'No content added yet.'"
            ></div>
        </div>
    </ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <div class="rich-text edit">
            <form [formGroup]="form" on-focusin="onFocusIn($event)" #textBlock>
                <div class="toolbar">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                </div>
                <!-- <ngx-editor-floating-menu [editor]="editor">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                </ngx-editor-floating-menu> -->
                <ngx-editor
                    [editor]="editor"
                    [(ngModel)]="field.metadata.data.value"
                    (onSelectionChange)="onFocusIn($event)"
                    formControlName="editorContent"
                    [placeholder]="'Start typing to add content...'"
                >
                </ngx-editor>
            </form>

            <div *ngIf="showSaveButton" class="p-d-flex p-align-center p-mt-2">
                <button (click)="saveTextblock()" class="p-button p-mr-2">Save</button>
                <i class="ms-01">Unsaved changes</i>
            </div>
        </div>
    </ng-container>
</project-drag-and-resize>
