.step-inner {
    .step-status {
        height: 22px;
        position: relative;
        .step-icon {
            height: 100%;
            z-index: 2;
            position: relative;
            padding-right: 2px;
            padding-left: 6px;
            i {
                color: var(--text-color-secondary);
            }
            &--default {
                width: 16px;
                height: 16px;
            }
        }
    }
    @media screen and (min-width: 700px) {
        .step-inner {
            padding-top: 0.75rem !important;
            padding-bottom: 0.75rem !important;
        }
    }
}
