
<p-dialog header="Add Step" [(visible)]="showDialog" styleClass="dialog">
    <span class="p-float-label p-my-5">
        <input id="title" type="text" pInputText [(ngModel)]='title'>
        <label for="title">Title</label>
    </span>
    <span class="p-float-label p-my-5">
        <input id="description" type="text" pInputText [(ngModel)]='description'>
        <label for="description">Description</label>
    </span>
    <!-- <p-dropdown [options]="visibilityOptions" class='p-my-3'></p-dropdown> -->
    <button pButton type="button" label="Save" (click)="onStepSave()"></button>
</p-dialog>

<div class="step">
    <button
        pButton
        type="button"
        label="New step"
        icon="pi pi-plus"
        class="p-button-text"
        (click)="onNewStepPress()"
    ></button>
</div>
