.dialog {
    width: 50vw;
}
.block-overlayPanel {
    &:after,
    &:before {
        left: 50%;
    }
    background: red !important;
}

.block-overlay {
    &__item {
        text-align: center;
        &:hover {
            background: var(--surface-c);
            cursor: pointer;
            border-radius: 6px;
        }
        .block-icon {
            padding: 1rem 0 0.25rem 0;
        }
        .block-label {
            padding: 0.25rem 0 1rem 0;
        }
    }
}

@media screen and (max-width: 40em) {
    .dialog {
        width: 75vw;
    }
}
