<div class="steps-container">
    <div class="p-d-flex p-ai-center p-jc-between p-pb-2">
        <div class="ms-1">Steps</div>
        <div class="step">
            <button
                pButton
                type="button"
                icon="pi pi-plus"
                class="p-button-rounded p-button-text"
                (click)="openDialog({title: 'Add Step', edit: false})"
            ></button>
        </div>
    </div>
    <ng-container *ngIf="steps?.length; else showEmptyState">
        <ng-container *ngFor="let stepConfig of steps; index as i">
            <div class="step p-d-flex p-ai-center p-jc-between p-mb-3 p-p-2" [class.step-selected]="stepConfig.step.isCurrentStep"
                (click)="onStepPress(i)">
                <div class="p-d-flex">
                    <i *ngIf="stepConfig.step.status != undefined; else defaultIcon" class="pi {{ stepConfig.step.status.icon }} p-pr-2"></i>
                    <ng-template #defaultIcon><i class="pi pi-active p-pr-2"></i></ng-template>
                    <div class="ms-0">{{ stepConfig.step.title }}</div>
                </div>
                <button
                type="button"
                class="p-button-text p-button-plain step__edit-step p-p-0"
                pButton
                icon="pi pi-ellipsis-h"
                (click)="menu.toggle($event)"
                ></button>
            </div>
        </ng-container>
        <p-menu #menu [popup]="true" [model]="stepMenu" appendTo="body"></p-menu>
    </ng-container>
    <ng-template #showEmptyState>
        <div class="p-col-6 p-d-flex p-ai-center">
            Looks like you haven't added any steps yet
        </div>
    </ng-template>
</div>

<project-step-dialog
    [dialogTitle]="dialogTitle"
    [showDialog]="showDialog"
    [dialogEdit]="dialogEdit"
    [dialogStep]="dialogStep"
    (onSavePress)="onSavePress($event)"
    (displayChange)="onDialogClose($event)"
>
</project-step-dialog>
