.steps-container {
    .step {
        margin-left: -0.5rem;
        &:hover {
            cursor: pointer;
            background: rgba(33, 150, 243, 0.04);
            border-radius: 6px;
        }
    }
    .step-selected {
        background: rgba(33, 150, 243, 0.1);
        border-radius: 6px;
        &:hover {
            background: rgba(33, 150, 243, 0.1);
        }
    }
}
