<div class="steps-container p-pl-4">
    <div class="ms-2 p-mb-3">Steps</div>
    <ng-container *ngFor="let stepConfig of steps">
        <div class="step p-d-flex p-ai-center p-mb-3" [class.step-selected]="stepConfig === currentStep" (click)="onStepPress(stepConfig)">
            <i class="material-icons">{{ stepConfig.step.icon }}</i>
            <div class="ms-0 p-p-2">{{ stepConfig.step.title }}</div>
        </div>
    </ng-container>
<project-step-dialog (onSavePress)="onSavePress($event)"></project-step-dialog>
</div>
