<div class="steps-container">
    <ng-container *ngIf="steps?.length">
        <ng-container *ngFor="let stepConfig of steps; index as i">
            <div class="step p-d-flex p-ai-center p-mb-3" [class.step-selected]="stepConfig.step.isCurrentStep"
                (click)="onStepPress(i)">
                <i class="pi {{ stepConfig.step.status.icon }}"></i>
                <div class="ms-0 p-p-2">{{ stepConfig.step.title }}</div>
            </div>
        </ng-container>
    </ng-container>
    <project-step-dialog (onSavePress)="onSavePress($event)"></project-step-dialog>
</div>
