.checkboxes {
    min-height: 100px;
    .checkbox {
        width: 100%;
        border-bottom: 1px solid var(--surface-c);
        &:last-child {
            border: none;
        }
        &__delete {
            visibility: hidden;
            margin-left: auto;
        }
        &__completed {
            opacity: 0.6;
            text-decoration: line-through;
        }

        &:hover,
        &:focus-within {
            .checkbox__delete {
                visibility: visible;
            }
        }
    }
}
//nesting host/ng-deep doesn't seem to work with scss
:host ::ng-deep .p-inplace-content {
    display: flex !important;
    width: 100%;
}
:host ::ng-deep p-inplace {
    width: 100%;
}
:host ::ng-deep .checkbox__editable textarea {
    flex-grow: 1;
    resize: none;
}
:host ::ng-deep .checkbox__editable label {
    width: 100%;
    line-height: 1.75rem;
}
