<div class="field p-mb-3 p-py-4 p-px-2" cdkDrag #fieldContainer>
    <div class="field__handle"><i class="pi pi-drag" cdkDragHandle></i></div>
    <div class="p-d-flex p-jc-md-between">
        <div class="p-mb-3">
            <p-inplace closable="true">
                <ng-template pTemplate="display">
                    {{ field?.label ? field.label : '(Untitled block)' }}
                </ng-template>
                <ng-template pTemplate="content">
                    <input type="text" class="p-inputtext" [(ngModel)]="field.label" pInputText />
                </ng-template>
            </p-inplace>
        </div>
        <div>
            <button
                type="button"
                class="p-button-text p-button-plain"
                pButton
                icon="pi pi-ellipsis-h"
                (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
        </div>
    </div>
    <div class="field__description mb-2">Description</div>
    <ng-content></ng-content>
</div>
