<div class="project p-d-flex p-ai-center">
    <div class="project__row p-p-2 p-d-flex p-jc-between">
        <div class="project__row--desc p-p-3" (click)="navigate()">
            <strong>{{ projectName | sliceEllipsis: 0:80 }}</strong>
            <div>
                <span>{{ projectDescription | sliceEllipsis: 0:80 }}</span>
                <span title="{{ openedDate }}">{{ openedDate | sliceEllipsis: 0:40 }}</span>
            </div>
        </div>
        <div *ngIf="projectId?.length > 0" class="project__menu p-m-auto">
            <button
                type="button"
                class="p-button-text p-button-plain"
                pButton
                icon="pi pi-ellipsis-h"
                (click)="menu.toggle($event)"
            ></button>
            <p-menu #menu [popup]="true" [model]="projectMenuOptions" appendTo="body"></p-menu>
        </div>
    </div>
</div>
