.project {
    &__row {
        width: 100%;
    }
    &__menu {
        visibility: hidden;
    }
    &:hover,
    &:focus,
    &:focus-within {
        .project__menu {
            visibility: visible;
        }
        .project__row {
            cursor: pointer;
            background: var(--surface-b);
        }
    }
    border-bottom: 1px solid var(--surface-c);
}

.project__row--desc {
    width: 100%;
}
