<div class="application">
    <p-toast position="top-center" key="global-toast"></p-toast>
    <app-nav-bar></app-nav-bar>
    <router-outlet> </router-outlet>
    <div id="mobile-overlay">
        <img src="/assets/stepflow-logo.svg" alt="Stepflow logo" height="26px" />
        <div class="p-p-4 text-center">
            Mobile mode is disabled during beta. Please use a desktop computer to view your project.
        </div>
        <a href="https://forms.gle/rPCm7CRZdHDKZBV9A">Have feedback?</a>
    </div>
</div>
