.control {
    position: sticky;
    height: calc(100vh - 65px);
    top: 0;
    right: 0;
    &__button {
        width: auto;
        // margin-left: auto;
        margin-top: 40px;
        .control-label {
            color: var(--clr-greytext);
        }
        &--bottom {
            margin-top: auto;
        }
    }
    .feedback-link {
        color: inherit;
        text-align: center;
        text-decoration: none;
    }
}
