.control {
    position: sticky;
    height: calc(100vh - (50px + 3.5rem + 60px)); //step controls + padding + top nav
    top: 0;
    left: 0;
    margin-top: 50px;
    &__button {
        width: auto;
        margin-right: auto;
        .control-label {
            color: var(--clr-greytext);
        }
        &--bottom {
            margin-top: auto;
        }
    }
}
