<app-base-field [field]="field" [index]="index">
    <ng-container *ngIf="componentMode === 'view'">
        <div class="url view">
            <p-card>
                <p-header>
                    <img class="p-px-2 p-pt-2" src="" alt="dynamic screenshot" />
                </p-header>
                <strong>Dynamic title</strong>
                <p>Dynamic description</p>
                <a [href]="urlData.data.value[0].href" target="_blank">{{ urlData.data.value[0].href }} </a>
                <i class="pi pi-external-link"></i>
            </p-card>
        </div>
    </ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <div class="p-d-flex p-flex-column">
            <div *ngFor="let url of urlData.data.value; index as index">
                <span class="p-float-label">
                    <input id="float-input-{{ index }}" type="text" pInputText [(ngModel)]="url.href" />
                    <label for="float-input-{{ index }}">Url</label>
                    <button
                        pButton
                        class="p-button-rounded p-button-text"
                        type="button"
                        icon="pi pi-times"
                        (click)="onRemoveUrlPress(index)"
                    ></button>
                </span>
            </div>
        </div>

        <button
            pButton
            class="p-button-icon"
            type="button"
            icon="pi pi-plus"
            label="Add URL"
            (click)="onAddNewUrlPress()"
        ></button>
    </ng-container>
</app-base-field>
