.embed {
    border: 2px solid var(--surface-c);
    background: var(--surface-c);
    border-radius: 2px;
    &--resizable {
        overflow: auto;
        resize: vertical;
    }
    iframe {
        height: calc(100% - 16px);
        width: 100%;
    }
}

.url {
    button {
        visibility: hidden;
    }
    &:hover {
        button {
            visibility: visible;
        }
    }
}

.placeholder {
    text-align: center;
    img {
        max-width: 100%;
        height: 150px;
    }
}

.add {
    width: 80%;
    margin: 0 auto;
    .p-float-label {
        flex-grow: 2;
        width: auto;
        input {
            width: 100%;
        }
    }
}
