@import 'core';

.uploader {
    width: 100%;
    padding: 60px 0;
    background: $light-background;
    text-align: center;
    border: 2px dashed $outline;
    font-size: 20px;
    font-weight: bold;
}
.uploader__label:hover {
    cursor: pointer;
}
.uploader__input {
    opacity: 0;
    display: none;
}
.uploader__icon {
    font-size: 100px;
    display: block;
}
.uploader__underline {
    text-decoration: underline;
    color: $action;
}
.uploader__caption {
    font-style: italic;
    font-size: 16px;
    padding-top: 16px;
}
