<app-base-field>
    <ng-container *ngIf="componentMode === 'edit'">
        <div class="small-text edit">
            <input
                [ngModel]="field.value"
                type="text"
                name="small-text"
                placeholder="Your response"
                class="small-text__input"
            />
        </div>
    </ng-container>
    <ng-container *ngIf="componentMode === 'view'">
        <div class="small-text view">
            <p>{{ field.value }}</p>
        </div>
    </ng-container>
</app-base-field>
