.navigation {
    width: 100% !important;
    height: 70px !important;
    background: white;
    border-bottom: 1px solid var(--surface-d);
    &__content {
        width: 100%;
    }
    .user-menu {
        &:hover {
            cursor: pointer;
        }
    }
}
