<div>
    <ng-container *ngIf="isLoading">loading comments...</ng-container>
    <ng-container *ngIf="!isLoading">
        <button pButton type="button" class="btn btn-primary" (click)="refreshComments()" [disabled]="isLoading">Refresh Comments</button>
        <div *ngFor="let block of blocks">
            <comment-thread-view
                [blockId]="block.id"
                [threadHeader]="block.label"
                [comments]="threadedComments[block.id] || []"
                (onAdd)="onAdd($event)"
                (onUpdate)="onUpdate($event)"
                (onDelete)="onDelete($event)"
                (onRefresh)="refreshComments()">
            </comment-thread-view>
        </div>
    </ng-container>
</div>
