.navigation {
    width: 100% !important;
    position: relative;
    &__content {
        width: 100%;
        height: 100%;
        background: white;
        border-bottom: 1px solid var(--surface-c);
        height: 70px !important;
        &--project {
            background: transparent;
            height: 50px !important;
        }
    }
    .user-menu {
        &:hover {
            cursor: pointer;
        }
    }
    &__divider {
        width: 1px;
        height: 26px;
        background: var(--surface-d);
    }
    &__back:hover {
        cursor: pointer;
    }
}
