<div class="navigation" *ngIf="authenticated">
    <ng-container *ngIf="navMode === 'project' && project">
        <div class="navigation__content--project p-grid p-nogutter p-px-3">
            <div class="navigation-logo p-col-6 p-d-flex p-ai-center">
                <i class="pi pi-chevron-left navigation__back" [routerLink]="['/project']"></i>
                <div class="ms-1 p-text-bold p-ml-2">
                    {{ project.name }}
                    <i
                        class="pi pi-info-circle ms-02 text-secondary"
                        *ngIf="project.description"
                        pTooltip="{{ project.description }}"
                    ></i>
                </div>
            </div>
            <div class="navigation-profile p-col-6 p-d-flex p-ai-center p-jc-end">
                <div class="p-col-6 p-d-flex p-jc-end p-ai-center" *ngIf="canConfigureProject">
                    <!-- <i class="pi pi-cog ms-3 p-mr-3 navigation__settings" ></i> -->
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-cog"
                        class="p-button-rounded p-button-text p-button-sm nav-button"
                        (click)="showSettingsDialog()"
                    ></button>
                    <project-share [project]="project" [loggedInUserId]="loggedInUserId"></project-share>
                </div>
                <div (click)="menu.toggle($event)" class="user-menu p-d-flex p-ai-center">
                    <img
                        src="{{ photoURL }}"
                        width="30px"
                        height="30px"
                        alt="Your profile picture"
                        class="rounded-image"
                    />
                </div>
                <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
            </div>

            <p-dialog
                header="Settings"
                [(visible)]="displaySettingsDialog"
                styleClass="dialog"
                focusTrap="true"
                modal="true"
            >
                <p-message
                    *ngIf="showSettingsError"
                    severity="error"
                    text="Enter a title to save project settings"
                    styleClass="p-mb-4"
                ></p-message>
                <div class="p-field">
                    <label for="settingsDialogTitle">Title</label>
                    <input
                        type="text"
                        pInputText
                        [(ngModel)]="projectSettings.name"
                        id="settingsDialogTitle"
                        style="width: 100%"
                    />
                </div>
                <div class="p-field p-pt-2">
                    <label for="settingsDialogDescription">Description</label>
                    <input
                        type="text"
                        pInputText
                        [(ngModel)]="projectSettings.description"
                        id="settingsDialogDescription"
                        style="width: 100%"
                    />
                </div>
                <p-footer>
                    <button type="button" pButton label="Save" (click)="onSaveSettingsSelected()"></button>
                </p-footer>
            </p-dialog>
        </div>
    </ng-container>
    <ng-container *ngIf="navMode === 'default'">
        <div class="navigation__content p-grid p-nogutter p-px-3">
            <div class="navigation-logo p-col-6 p-d-flex p-ai-center">
                <img src="/assets/stepflow-logo.svg" alt="Stepflow logo" height="26px" [routerLink]="['/project']" />
            </div>
            <div class="navigation-profile p-col-6 p-d-flex p-ai-center p-jc-end">
                <div (click)="menu.toggle($event)" class="user-menu p-d-flex p-ai-center">
                    <span class="user-menu__label p-pr-2">{{ displayName }}</span>
                    <img
                        src="{{ photoURL }}"
                        width="34px"
                        height="34px"
                        alt="Your profile picture"
                        class="rounded-image"
                    />
                </div>

                <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
            </div>
        </div>
    </ng-container>
</div>
<!-- Not authenticated -->
<div class="navigation" *ngIf="navMode === 'project' && !authenticated && project">
    <div class="navigation__content p-grid p-nogutter p-px-3">
        <div class="navigation-logo p-col-6 p-d-flex p-ai-center">
            <img src="/assets/stepflow-logo.svg" alt="Stepflow logo" height="26px" />
            <p-chip label="Beta" styleClass="p-ml-2 custom-chip"></p-chip>
            <div class="navigation__divider p-mx-3"></div>
            <div class="ms-1 p-text-bold">
                {{ project.name }}
                <i class="pi pi-info-circle ms-02 text-secondary" pTooltip="{{ project.description }}"></i>
            </div>
        </div>
        <div class="navigation-profile p-col-6 p-d-flex p-ai-center p-jc-end">
            <button type="button" pButton label="Sign up" (click)="openRegistration()"></button>
        </div>
    </div>
</div>
