@import './assets/fonts/fonts.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
    height: 100% !important;
    width: 100% !important;
    background-color: #ece5d8;
}

body {
    font-family: 'Sailec-Regular', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    -webkit-overflow-scrolling: touch;
}

p,
div {
    font-family: 'Sailec-Regular', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}

a {
    color: #30649a !important;
    text-decoration: underline !important;
}

//nav
nav.nav {
    position: absolute;
    display: flex;
    padding: 2em 1.5em 0 1.5em;
    width: 100%;
    justify-content: space-between;
    .nav__back a,
    .nav__auth a {
        color: #312e2b !important;
        text-decoration: none !important;
    }
}

.sign-up__container nav.nav {
    .nav__back a {
        color: white !important;
        text-decoration: none !important;
    }
    @media (min-width: 320px) and (max-width: 900px) {
        .nav__auth a {
            color: white !important;
        }
    }
}

h1,
h1.title {
    font-family: 'Sailec-Black', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

h2,
h3,
h4,
h5,
h6,
.title {
    font-family: 'Sailec-Bold', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

button {
    font-family: 'Sailec-Medium', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

strong,
b {
    font-family: 'Sailec-Bold', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

i {
    font-family: 'Sailec-RegularItalic', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

p {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.015em;
}

h2.subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
}

div {
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.015em;
    line-height: normal;
    color: #312e2b;
}

.hide-on-mobile {
    @media (min-width: 320px) and (max-width: 900px) {
        display: none !important;
    }
}
