@import './assets/fonts/fonts.css';
@import './normalize.scss';

html,
body {
    height: 100% !important;
    width: 100% !important;
}

body {
    font-family: 'Sailec-Regular', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    -webkit-overflow-scrolling: touch;
}

p, div {
    font-family: 'Sailec-Regular', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}

a {
    color: #30649a !important;
    text-decoration: underline !important;
}

.nav__back a, .nav__signup a, .authentication__login a {
    color: #312e2b !important;
    text-decoration: none !important;
}
.banner__back a {
    color: white !important;
    text-decoration: none !important;
}

h1,
h1.title {
    font-family: 'Sailec-Black', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

h2,
h3,
h4,
h5,
h6,
.title {
    font-family: 'Sailec-Bold', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

button {
    font-family: 'Sailec-Medium', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

strong,
b {
    font-family: 'Sailec-Bold', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

i {
    font-family: 'Sailec-RegularItalic', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

p {
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.015em;
}

h2.subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
}

div {
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.015em;
    line-height: normal;
    color: #312e2b;
}

.hide-on-mobile {
    @media (min-width: 320px) and (max-width: 900px) {
        display: none !important;
    }
}
