<project-drag-and-resize [(field)]="field" [index]="index" (componentMode)="setComponentMode($event)">
    <ng-container *ngIf="componentMode === 'view'">
        <div class="checkboxes checkboxes--view mb-2">
            <div class="p-d-flex p-ai-center p-py-3 checkbox" *ngFor="let val of field.metadata.data.value">
                <p-checkbox [inputId]="index" [binary]="true" [(ngModel)]="val.checked" readonly="true"> </p-checkbox>
                <label for="index" class="p-pl-2" [class.checkbox__completed]="val.checked">{{ val.item }}</label>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <div class="checkboxes checkboxes--edit" cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="toolbar">
                <button
                    pButton
                    type="button"
                    icon="pi pi-plus"
                    label="Add a task"
                    (click)="onAddCheckboxPress()"
                    class="p-button p-button-text toolbar__button"
                ></button>
            </div>
            <div
                class="p-d-flex p-ai-center p-pl-2 p-py-2 checkbox"
                *ngFor="let val of field.metadata.data.value; index as index"
                [cdkDragDisabled]="val.checked || isEditing"
                cdkDrag
            >
                <p-checkbox
                    [inputId]="index"
                    [binary]="true"
                    [(ngModel)]="val.checked"
                    (onChange)="onCheckboxPress()"
                ></p-checkbox>
                <p-inplace
                    closable="true"
                    styleClass="checkbox__editable p-mx-2"
                    closeIcon="pi pi-check"
                    (onDeactivate)="saveContent()"
                    (onActivate)="onEdit()"
                >
                    <ng-template pTemplate="display">
                        <label [for]="index" [ngClass]="{ checkbox__completed: val.checked }">{{
                            val.item ? val.item : 'New item'
                        }}</label>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <textarea
                            type="text"
                            class="p-inputtext p-mx-2"
                            rows="1"
                            [(ngModel)]="val.item"
                            pInputText
                        ></textarea>
                    </ng-template>
                </p-inplace>
                <button
                    (click)="onCheckboxDeletePress(index)"
                    pButton
                    type="button"
                    icon="pi pi-times"
                    class="p-button-text p-button-plain checkbox__delete"
                    pTooltip="Delete checklist item"
                ></button>
            </div>
        </div>
    </ng-container>
</project-drag-and-resize>
