<project-drag-and-resize
    [isDraggable]="componentMode === 'configure'"
    [(field)]="field"
    [componentMode]="componentMode"
    [index]="index"
>
    <ng-container *ngIf="componentMode === 'view'">
        <div class="table view">
            <p-table [resizableColumns]="true" [value]="tableValues?.row" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <ng-container *ngFor="let row of tableValues?.row">
                            <ng-container *ngFor="let col of row.item">
                                <th pResizableColumn *ngIf="col.isHeader">
                                    {{ col.text }}
                                </th>
                            </ng-container>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-value>
                    <tr>
                        <ng-container *ngFor="let col of value.item">
                            <td *ngIf="!col.isHeader">
                                {{ col.text }}
                            </td>
                        </ng-container>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-container>
    <ng-container *ngIf="componentMode === 'edit' || componentMode === 'configure'">
        <p-contextMenu #cm [model]="menuItems" appendTo="body"></p-contextMenu>
        <div class="table" aria-haspopup="true">
            <p-table
                #table
                [value]="tableValues?.row"
                [(contextMenuSelection)]="selectedData"
                [contextMenu]="cm"
                [resizableColumns]="true"
                styleClass="p-datatable-gridlines"
            >
                <ng-template pTemplate="header">
                    <tr pEditableRow>
                        <ng-container *ngFor="let row of tableValues?.row">
                            <ng-container *ngFor="let col of row.item">
                                <th pEditableColumn pResizableColumn *ngIf="col.isHeader">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="col.text" />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <input
                                                pInputText
                                                type="text"
                                                readonly
                                                [(ngModel)]="col.text"
                                                class="cell-display"
                                            />
                                        </ng-template>
                                    </p-cellEditor>
                                </th>
                            </ng-container>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-value let-r="rowIndex">
                    <tr>
                        <ng-container *ngFor="let col of value.item; let c = index">
                            <td pEditableColumn *ngIf="!col.isHeader" [pContextMenuRow]="{ rowIndex: r, colIndex: c }">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="col.text" />
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        <input
                                            pInputText
                                            type="text"
                                            readonly
                                            [(ngModel)]="col.text"
                                            class="cell-display"
                                        />
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                        </ng-container>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </ng-container>
</project-drag-and-resize>
