<div class="sign-up__container">
    <div class="info-banner">
        <div class="banner__back">
            <a href="https://stepflow.co">Back to Stepflow</a>
        </div>

        <div class="banner__text">
            <h1>
                Join the waitlist
            </h1>
            <p>
                We’re currently in the process of testing the first version of our application with select beta users.
                When you sign up you will be added to a waitlist and notified when you can access Stepflow as we
                gradually allow more users in.
            </p>
            <p>
                Create your account and be one of the first to access all Stepflow has to offer. After the beta you will
                be prompted to select and confirm the plan you originally chose on our pricing page. We are excited to
                have you around and we hope you enjoy this first glimpse at our app!
            </p>
            <div>
                <p>
                    Cheers,
                </p>
                <img src="../../../assets/team-stepflow-signature.svg" />
            </div>
        </div>
    </div>
    <div class="authentication">
        <div class="authentication__login">
            <a routerLink="/auth/login">
                Sign in
            </a>
        </div>

        <div class="authentication__body">
            <div class="authentication__header">
                <img src="../../assets/stepflow-logo.svg" />
                <h2>Create your account</h2>
                <div class="header__badge">
                    CURRENTLY IN BETA
                </div>
            </div>
            <div class="authentication__form">
                <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
                    <div class="form-error" *ngIf="registerError">
                        <div><i class="material-icons">info</i></div>
                        <div>{{ registerError }}</div>
                    </div>
                    <div class="form-input">
                        <label>Your name</label>
                        <input type="text" placeholder="Enter your name" formControlName="name" />
                    </div>
                    <div class="form-input">
                        <label>Your email</label>
                        <input type="text" placeholder="Enter your email" formControlName="email" />
                    </div>
                    <div class="form-input">
                        <label>Password</label>
                        <input type="password" placeholder="Enter your password" formControlName="password1" />
                    </div>
                    <div class="form-input">
                        <label>Re-enter Password</label>
                        <input type="password" placeholder="Enter your password" formControlName="password2" />
                    </div>
                    <div class="form-button">
                        <button class="button" type="submit">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
