@import '~src/sass/variables';

.sign-up__container {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
}

.authentication {
    background-color: #ffffff;
    flex-direction: column;
    flex: 1 1 50%;

    * {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .authentication__login {
        padding: 2em 1.5em 0 0;
        position: absolute;
        right: 0;
        a {
            color: #312e2b;
        }
    }

    .form-error {
        flex-direction: row;
    }
}

.info-banner {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    background-color: #477b72;
}

.banner__back {
    padding: 2em 0 0 1.5em;
    position: absolute;

    a {
        color: #ffffff;
    }
}

.banner__text {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0 3em;
    color: #ffffff;
    font-weight: 400;
    h1 {
        font-size: 36px;
    }
}

.authentication__body {
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.authentication__header {
    margin-top: 2.5em;
    text-align: center;
}

.authentication__form {
    text-align: center;
    margin-bottom: 2.5em;
}

.form-input {
    // display: inline-grid;
    margin: 0.5em 0;

    label {
        align-self: flex-start;
        margin: 0.5em 0;
    }

    input {
        max-height: 65px;
        height: 55px;
        max-width: 150px;
    }
}

.form-button {
    width: 100%;
    .button {
        margin: 2.5em 0;
        background-color: #30649a;
    }
}

.button {
    width: 100%;
    height: 55px;
    max-width: 362px;
    border-radius: 4px;
    background-color: $default-action;
    color: $default-action-text;
}

.header__badge {
    max-width: 100%;
    height: 35px;
    padding: 10px 15px;
    background: #ece5d8;
    border-radius: 50px;
    font-weight: bold;
    color: #312e2b;
    margin-bottom: 1em;
}

.form-error {
    display: inline-flex;
    background-color: #fff1ea;
    color: #bb411a;
    font-weight: bold;
    min-height: 44px;
    max-width: 362px;
    padding: 0.1em 1em;
    font-size: 12px;
    margin: auto;
    align-items: center;
    width: 100%;

    .material-icons {
        vertical-align: middle;
        margin-right: 0.25em;
    }
}
