<form
    class="dynamic-form"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [formGroup]="form"
    (submit)="onSubmit($event)"
>
    <ng-content></ng-content>
    <ng-container *ngIf="fields?.length; else showEmptyState">
        <ng-container
            *ngFor="let field of fields; index as index"
            appCoreComponentResolver
            [field]="field"
            [group]="form"
            [index]="index"
            [componentMode]="componentMode"
        ></ng-container>
    </ng-container>
    <ng-template #showEmptyState>
        Looks like you haven't added any blocks yet
    </ng-template>
</form>
