<div class="p-d-flex p-p-3">
    <div class="project__row" (click)="navigate()">
        <td>
            <strong>{{ projectName | sliceEllipsis: 0:80 }}</strong
            ><br />
            <span>{{ projectDescription | sliceEllipsis: 0:40 }}</span>
        </td>
        <td>
            <span title="{{ openedDate }}">{{ openedDate | sliceEllipsis: 0:40 }}</span>
        </td>
    </div>
    <div *ngIf="projectId?.length > 0" class="p-ml-auto">
        <button
            pButton
            type="button"
            label="Delete Project"
            icon="pi pi-times"
            class="p-button-text"
            (click)="onDeleteProjectPress()"
        ></button>
    </div>
</div>
