.project__card {
    width: 100%;
    display: block;
}
.project__row {
    width: 100%;
    display: block;
    &:hover {
        cursor: pointer;
        background: rgba(33, 150, 243, 0.04);
    }
}
