@import 'core';

.rich-text {
    width: 100%;
}

.rich-text textarea {
    width: 80%;
    // resize: none;
}

.rich-text.view {
    .rich-text__input {
        border: none;
        background: transparent;
    }
}
