.project {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, max-content));
    grid-template-rows: auto;
    row-gap: 2em;
    padding: 0 2em;
    justify-content: center;
}

.project__card {
}
