<app-nav-bar></app-nav-bar>

<div class="p-px-5 p-py-5 container">

    <div class="p-grid p-nogutter p-pt-2 p-pb-4">
        <div class="p-col-6">
            <h1 class="p-m-0">Projects</h1>
        </div>
        <div class="p-col-6 p-d-flex p-ai-center p-jc-end">
                <button pButton type="button" icon="pi pi-plus" iconPos="left" label="New Project" (click)="createNewProject()"></button>
        </div>
    </div>

    <ng-container *ngIf="isLoadingProjects; else showProjects">
        <div class="p-d-flex p-jc-center p-py-6">
            <p-progressSpinner></p-progressSpinner>
        </div>
    </ng-container>

    <ng-template #showProjects>
        <div class="project" *ngIf="projects">
            <p-tabView>
                <p-tabPanel header="All projects">
                    <p-table [value]="projects" styleClass="p-datatable-gridlines p-datatable-lg p-py-3">
                        <ng-template pTemplate="body" let-project>
                            <project-card
                                class="project__card"
                                projectName="{{ project.name }}"
                                projectDescription="{{ project.description }}"
                                link="/project/{{ project.id }}"
                            ></project-card>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Created by me">
                    <div class="p-py-3">Projects I'm the owner of</div>
                </p-tabPanel>
                <p-tabPanel header="Shared with me">
                    <div class="p-py-3">Projects I've been invited to</div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </ng-template>

</div>

<router-outlet></router-outlet>
