@import 'core';

.large-text {
    width: 100%;
}

.large-text__input {
    width: 632px;
    resize: none;
}

.large-text.view {
    .large-text__input {
        border: none;
        background: transparent;
    }
}
