<div class="steps-container p-d-flex p-pb-6 p-pt-4">
    <div class="steps" @fade>
        <div class="steps__fade-right"></div>
        <div class="steps__fade-left"></div>
        <button
            pButton
            type="button"
            class="p-button-secondary p-button-raised p-button-rounded steps__arrow-left"
            icon="pi pi-chevron-left"
            *ngIf="scrollPosition > 20"
            (click)="scrollStepsLeft()"
        ></button>
        <button
            pButton
            type="button"
            class="p-button-secondary p-button-raised p-button-rounded steps__arrow-right"
            icon="pi pi-chevron-right"
            *ngIf="hasHorizontalScroll"
            (click)="scrollStepsRight()"
        ></button>
        <div class="steps__list" style="position: relative" #scrollable>
            <ng-container *ngIf="steps?.length; else showEmptyState">
                <ng-container *ngIf="canConfigureProject; else showViewSteps">
                    <div
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="drop($event)"
                        class="p-d-flex p-ai-center"
                        style="padding-left: 20px;width: 100%;"
                    >
                        <ng-container *ngFor="let stepConfig of steps; index as i" #stepLoop>
                            <div
                                cdkDrag
                                class="step p-mr-2"
                                [class.step-selected]="stepConfig.step.isCurrentStep"
                                (click)="onStepPress(i)"
                            >
                                <project-step
                                    [step]="stepConfig.step"
                                    [currentStep]="stepConfig.step.isCurrentStep"
                                    (toggleMenuChange)="onEditCurrentStep()"
                                ></project-step>
                            </div>
                        </ng-container>
                        <div style="padding: 0 25px; height: 1px"></div>
                    </div>
                </ng-container>
                <ng-template #showViewSteps>
                    <div class="p-d-flex p-ai-center" style="padding-left: 20px;">
                        <ng-container *ngFor="let stepConfig of steps; index as i" #stepLoop>
                            <div
                                class="step p-mr-2"
                                [class.step-selected]="stepConfig.step.isCurrentStep"
                                (click)="onStepPress(i)"
                            >
                                <project-step [step]="stepConfig.step"></project-step>
                            </div>
                        </ng-container>
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </div>
    <div class="p-d-flex p-ai-center p-pl-2" *ngIf="canConfigureProject && !doesExceed30ProjectSteps">
        <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded p-button-text"
            (click)="onAddNewStepPress()"
            pTooltip="Add new step"
            tooltipPosition="bottom"
        ></button>
    </div>
    <ng-template #showEmptyState>
        <div class="p-col-6 p-d-flex p-ai-center">Press the plus button to create your first step</div>
    </ng-template>
</div>

<ng-container *ngIf="showDialog">
    <project-step-dialog
        (dialogSubmitEvent)="onDialogSubmitEvent($event)"
        (onHideEvent)="onHideEvent($event)"
        [step]="focusStep"
        [mode]="stepMode"
        [(showDialog)]="showDialog"
    >
    </project-step-dialog>
</ng-container>
