.steps-container {
    margin: 35px 20px;
    max-height: calc(100vh - 9rem);
    .steps:last-child {
        .step-status .step-line {
            width: 0px;
        }
    }
    .step {
        margin-left: -0.5rem;
        position: relative;
        &:hover {
            cursor: pointer;
            background: var(--surface-c);
            border-radius: 6px;
        }
        &__edit-step {
            opacity: 0;
            transition: 0.1s;
            pointer-events: none;
        }

        .step-status {
            min-width: 25px;
            max-width: 25px;
            height: 25px;
            position: relative;
            &__icon {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: var(--surface-f) 2px solid;
                background: white;
                z-index: 2;
                position: relative;
                i {
                    color: var(--text-color-secondary);
                    min-height: 13px;
                    min-width: 13px;
                }
                &--default {
                    width: 16px;
                    height: 16px;
                }
            }
            .step-line {
                height: 70px;
                position: absolute;
                left: 12px;
                width: 2px;
                top: 5px;
                background: var(--surface-f);
                z-index: 1;
            }
        }
    }
    .steps-container:last-child:after {
        width: 0px;
    }
    .step-selected {
        background: var(--primary-color-light);
        border-radius: 6px;
        color: var(--primary-color);
        font-weight: bold;
        &:hover,
        &:focus,
        &:focus-within {
            background: var(--primary-color-light);
            .step__edit-step {
                opacity: 0.6;
                pointer-events: initial;
            }
        }
    }
}
