<div class="steps-container">
    <div class="p-d-flex p-ai-center p-jc-between p-pb-2">
        <div class="ms-1">Steps</div>
        <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded p-button-text"
            (click)="onAddNewStepPress()"
        ></button>
    </div>
    <ng-container *ngIf="steps?.length; else showEmptyState">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let stepConfig of steps; index as i">
                <div
                    cdkDrag
                    class="step p-d-flex p-ai-center p-jc-between p-mb-3 p-p-2"
                    [class.step-selected]="stepConfig.step.isCurrentStep"
                    (click)="onStepPress(i)"
                >
                    <div class="p-d-flex">
                        <i
                            *ngIf="stepConfig.step.status; else defaultIcon"
                            class="pi {{ stepConfig.step.status.icon }} p-pr-2"
                        ></i>
                        <ng-template #defaultIcon><i class="pi pi-circle-off p-pr-2"></i></ng-template>
                        <div class="ms-0">{{ stepConfig.step.title }}</div>
                    </div>
                    <button
                        type="button"
                        class="p-button-text p-button-plain step__edit-step p-p-0"
                        pButton
                        icon="pi pi-ellipsis-h"
                        (click)="menu.toggle($event)"
                    ></button>
                </div>
            </div>
        </div>
        <p-menu #menu [popup]="true" [model]="stepMenuOptions" appendTo="body"></p-menu>
    </ng-container>
    <ng-template #showEmptyState>
        <div class="p-col-6 p-d-flex p-ai-center">
            Press the plus button to create your first step
        </div>
    </ng-template>
</div>

<ng-container *ngIf="showDialog">
    <project-step-dialog
        (dialogSubmitEvent)="onDialogSubmitEvent($event)"
        (onHideEvent)="onHideEvent($event)"
        [step]="focusStep"
        [mode]="stepMode"
        [(showDialog)]="showDialog"
    >
    </project-step-dialog>
</ng-container>
