<div class="steps-container p-mt-5 p-mx-3">
    <div class="p-d-flex p-ai-center p-jc-between p-pb-2">
        <div class="p-text-uppercase ms-01">Steps</div>
        <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-rounded p-button-text"
            (click)="onAddNewStepPress()"
            *ngIf="(projectService.projectMode$ | async) != 'view'"
        ></button>
    </div>
    <ng-container *ngIf="steps?.length; else showEmptyState">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let stepConfig of steps; index as i" class="steps">
                <div
                    cdkDrag
                    class="step p-d-flex p-jc-between p-ai-center p-mb-3 p-p-2"
                    [class.step-selected]="stepConfig.step.isCurrentStep"
                    (click)="onStepPress(i)"
                >
                    <div class="step-status p-d-flex p-ai-center p-jc-center">
                        <ng-container
                            *ngIf="stepConfig.step.status && stepConfig.step.status.value != 'no-status'; else nostatus"
                        >
                            <!-- <i
                                    class="pi {{ stepConfig.step.status.icon }} ms-01"
                                    pTooltip="{{ stepConfig.step.status.label }}"
                                ></i> -->
                            <ng-container [ngSwitch]="stepConfig.step.status.value">
                                <div
                                    *ngSwitchCase="'upcoming'"
                                    class="step-status__icon p-d-flex p-jc-center p-ai-center"
                                    style="background-color: var(--info-color);"
                                >
                                    <i
                                        class="pi {{ stepConfig.step.status.icon }} ms-01"
                                        pTooltip="{{ stepConfig.step.status.label }}"
                                    ></i>
                                </div>
                                <div
                                    *ngSwitchCase="'completed'"
                                    class="step-status__icon p-d-flex p-jc-center p-ai-center"
                                    style="background-color: #759D53;"
                                >
                                    <i
                                        class="pi {{ stepConfig.step.status.icon }} ms-01"
                                        pTooltip="{{ stepConfig.step.status.label }}"
                                    ></i>
                                </div>
                                <div
                                    *ngSwitchCase="'needs-review'"
                                    class="step-status__icon p-d-flex p-jc-center p-ai-center"
                                    style="background-color: #c76c6c"
                                >
                                    <i
                                        class="pi {{ stepConfig.step.status.icon }} ms-01"
                                        pTooltip="{{ stepConfig.step.status.label }}"
                                    ></i>
                                </div>
                                <div
                                    *ngSwitchCase="'in-progress'"
                                    class="step-status__icon p-d-flex p-jc-center p-ai-center"
                                    style="background-color: #AD9048;"
                                >
                                    <i
                                        class="pi {{ stepConfig.step.status.icon }} ms-01"
                                        pTooltip="{{ stepConfig.step.status.label }}"
                                    ></i>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-template #nostatus>
                            <div class="step-status__icon step-status__icon--default"></div>
                        </ng-template>
                        <div class="step-line"></div>
                    </div>

                    <div class="p-d-flex p-jc-between p-pl-2" style="flex-grow: 1;">
                        <div class="p-d-flex p-flex-column">
                            <div class="ms-0">{{ stepConfig.step.title }}</div>
                        </div>
                        <button
                            type="button"
                            class="p-button-text p-button-plain step__edit-step p-p-0"
                            pButton
                            icon="pi pi-ellipsis-h"
                            (click)="menu.toggle($event)"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
        <p-menu #menu [popup]="true" [model]="stepMenuOptions" appendTo="body"></p-menu>
    </ng-container>
    <ng-template #showEmptyState>
        <div class="p-col-6 p-d-flex p-ai-center">
            Press the plus button to create your first step
        </div>
    </ng-template>
</div>

<ng-container *ngIf="showDialog">
    <project-step-dialog
        (dialogSubmitEvent)="onDialogSubmitEvent($event)"
        (onHideEvent)="onHideEvent($event)"
        [step]="focusStep"
        [mode]="stepMode"
        [(showDialog)]="showDialog"
    >
    </project-step-dialog>
</ng-container>
