.steps-container {
    border-right: 1px solid var(--surface-d);
    background: white;
    min-height: 100%;
    .step {
        margin-left: -0.5rem;
        position: relative;
        &:hover {
            cursor: pointer;
            background: var(--surface-b);
            border-radius: 6px;
        }
        &__edit-step {
            opacity: 0;
            transition: 0.1s;
            pointer-events: none;
        }
        .step-status {
            width: 24px;
            height: 24px;
            &__icon {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: var(--surface-e) 1px solid;
                background: white;
                z-index: 1;
                position: relative;
                i {
                    color: var(--text-color-secondary);
                    min-height: 13px;
                    min-width: 13px;
                }
                &--default {
                    width: 15px;
                    height: 15px;
                }
            }
            &:after {
                content: '';
                height: 50px;
                position: absolute;
                left: 20px;
                bottom: -1.75rem;
                width: 1px;
                background: var(--surface-e);
            }
        }
    }
    .steps-container:last-child:after {
        width: 0px;
    }
    .step-selected {
        background: var(--primary-color-light);
        border-radius: 6px;
        color: var(--primary-color);
        font-weight: bold;
        &:hover,
        &:focus,
        &:focus-within {
            background: var(--primary-color-light);
            .step__edit-step {
                opacity: 0.6;
                pointer-events: initial;
            }
        }
    }
}
