@import 'core';

.multiple-choice__add {
    display: block;
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
    width: max-content;
}

.multiple-choice__add:hover {
    opacity: 1;
    color: $action;
}
