<div class="confirmation p-d-flex p-flex-column p-ai-center p-jc-center">
    <div class="confirmation__msg">
        <img src="/assets/stepflow-logo.svg" alt="Stepflow logo" height="26px" />
        <h1 class="p-mt-4">You're on the list!</h1>
        <p>
            Thank you for signing up. Keep a look out in your inbox for when it's time to login and experience Stepflow.
        </p>
        <a
            href="https://twitter.com/share?ref_src=twsrc%5Etfw"
            class="twitter-share-button"
            data-text="I just joined the waitlist for Stepflow, an upcoming app that lets you collaborate
            more efficiently with people outside your organization. Read more at"
            data-url="https://stepflow.co"
            data-via="stepflowapp"
            data-show-count="false"
        >
            <button
                pButton
                type="button"
                class="p-button p-mr-2"
                label="Share on Twitter"
                icon="pi pi-share-alt"
            ></button>
        </a>
        <a href="https://stepflow.co">
            <button pButton type="button" class="p-button-secondary" label="Back to Stepflow.co"></button>
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
