<div
    class="field p-mb-4 p-px-3 p-py-4"
    cdkDrag
    #fieldContainer
    (cdkDragStarted)="dragStarted()"
    (cdkDragReleased)="dragFinished()"
    [style.height.px]="field.metadata.settings?.height && resizable ? field.metadata.settings!.height : ''"
    mwlResizable
    [enableGhostResize]="resizable"
    (resizeEnd)="onResizeEnd($event)"
>
    <ng-container *ngIf="canEditBlocks && editMode; else showView">
        <div *ngIf="canConfigureBlocks" class="field__handle">
            <i class="pi pi-drag" cdkDragHandle></i>
        </div>
        <div
            *ngIf="resizable && canConfigureBlocks"
            class="resize"
            mwlResizeHandle
            [resizeEdges]="{ bottom: true }"
        ></div>

        <div class="field__label p-d-flex p-jc-between p-ai-center p-mb-2">
            <p-inplace closable="true" closeIcon="pi pi-check" (onDeactivate)="saveBlockData()">
                <ng-template pTemplate="display">
                    <span class="ms-1">{{ field.label ? field.label : 'Untitled block' }}</span>
                </ng-template>
                <ng-template pTemplate="content">
                    <input type="text" class="p-inputtext ms-1" [(ngModel)]="field.label" pInputText />
                </ng-template>
            </p-inplace>
            <div class="field__settings">
                <button
                    type="button"
                    class="p-button-text p-button-plain"
                    pButton
                    icon="pi pi-ellipsis-h"
                    (click)="menu.toggle($event)"
                    *ngIf="canConfigureBlocks"
                ></button>
                <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
                <button
                    *ngIf="canConfigureBlocks"
                    (click)="onSaveBlock()"
                    pButton
                    type="button"
                    icon="pi pi-check"
                    class="p-button-text p-button-plain"
                    pTooltip="Save changes"
                ></button>
            </div>
        </div>
        <div class="field__description mb-2 ms-01">Description</div>
        <div class="field__content">
            <ng-container *ngTemplateOutlet="transposedContent"></ng-container>
        </div>
    </ng-container>
    <ng-template #showView>
        <div *ngIf="canConfigureBlocks" class="field__handle">
            <i class="pi pi-drag" cdkDragHandle></i>
        </div>
        <div
            *ngIf="resizable && canConfigureBlocks"
            class="resize"
            mwlResizeHandle
            [resizeEdges]="{ bottom: true }"
        ></div>
        <div class="field__label p-d-flex p-jc-between p-ai-center p-mb-2">
            <div class="p-ml-2 p-mb-2 ms-1">
                {{ field.label ? field.label : 'Untitled block' }}
            </div>
            <div class="field__settings">
                <button
                    *ngIf="canEditBlocks"
                    (click)="onEditBlock()"
                    pButton
                    type="button"
                    icon="pi pi-pencil"
                    class="edit-button p-button-text p-button-plain"
                    pTooltip="Edit block"
                ></button>
            </div>
        </div>
        <div class="field__description mb-2 ms-01">Description</div>
        <div class="field__content">
            <ng-container *ngTemplateOutlet="transposedContent"></ng-container>
        </div>
    </ng-template>
    <ng-template #transposedContent><ng-content></ng-content></ng-template>
</div>
