@import 'variables.scss';

mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
}

.field {
    position: relative;
    border-radius: 6px;
    background: white;
    border: 1px solid transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    .resize {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        border-right: 3px solid var(--surface-d);
        border-bottom: 3px solid var(--surface-d);
        border-radius: 1px;
        z-index: 999999;
        &:hover,
        &:focus,
        &:focus-within {
            cursor: row-resize;
            border-color: var(--surface-f);
        }
    }
    &:hover,
    &:focus-within {
        border: 1px solid var(--surface-d);
        .field__settings,
        .field__handle,
        .resize {
            visibility: visible;
        }
    }
    .field__settings {
        visibility: hidden;
    }
    .field__handle {
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: calc(50% - 8px);
        opacity: 0.3;
        &:hover,
        button.button:hover {
            cursor: grab !important;
        }
    }
    .field__label {
        flex-shrink: 0;
        span {
            font-weight: bold;
        }
        .view-label {
            padding-left: 0.5rem;
        }
    }

    .field__content {
        height: 100%;
    }
    .field__description {
        color: $sub-text;
        font-style: italic;
        display: none;
    }
    .field-icon {
        color: white;
        border-radius: 4px;
        display: block;
    }
}

:host ::ng-deep {
    .field__label {
        .p-button {
            margin-left: 0.5rem;
        }
        .p-inplace-display,
        .p-inputtext {
            font-weight: bold;
            color: var(--clr-text);
        }
    }
}
