.table {
    p-celleditor {
        display: flex;
        flex-direction: column;
    }
    td {
        white-space: normal;
        vertical-align: text-top;
        &:focus,
        &:focus-within {
            outline: none !important;
        }
    }
    textarea {
        max-width: 100%;
        box-sizing: border-box;
        height: 100%;
        min-height: 150px;
    }
    input {
        max-width: 100%;
    }
}
