<p-dialog
    [(visible)]="showDialog"
    (onHide)="onHide($event)"
    [header]="mode === 'delete' ? 'Delete step?' : mode === 'new' ? 'New step' : step.title"
    styleClass="dialog"
    focusTrap="true"
    modal="true"
>
    <ng-container *ngIf="mode === 'delete'; else showDefault">
        <div class="p-field">
            <label aria-describedby="Step Name" styleClass="labelBlock">Title: {{ step.title }}</label>
        </div>
        <div class="p-field p-pt-2">
            <label aria-describedby="Add a description" styleClass="labelBlock"
                >Description: {{ step.description }}</label
            >
        </div>
    </ng-container>
    <ng-template #showDefault>
        <p-message
            *ngIf="showError"
            severity="error"
            text="Enter a title to add a new step"
            styleClass="p-mb-4"
        ></p-message>

        <div class="p-field">
            <label for="title" aria-describedby="Name your step" styleClass="labelBlock">Title</label>
            <input id="title" type="text" pInputText [(ngModel)]="step.title" style="width: 100%" />
        </div>
        <div class="p-field p-pt-2">
            <label for="description" aria-describedby="Add a description" styleClass="labelBlock">Description</label>
            <input id="description" type="text" pInputText [(ngModel)]="step.description" style="width: 100%" />
        </div>
        <div class="p-field p-pt-2">
            <label for="description" aria-describedby="Select the status" styleClass="labelBlock">Status</label>
            <p-dropdown
                [options]="statusOptions"
                [(ngModel)]="selectedStatus"
                optionLabel="label"
                appendTo="body"
                class="p-my-3"
            >
                <ng-template let-item pTemplate="selectedItem">
                    <div class="p-d-flex" *ngIf="selectedStatus">
                        <i class="pi {{ item.icon }} p-mr-2"></i>
                        <span> {{ item.label }}</span>
                    </div>
                </ng-template>
                <ng-template let-status pTemplate="item">
                    <div class="p-d-flex">
                        <i class="pi {{ status.icon }} p-mr-2"></i>
                        <span> {{ status.label }}</span>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </ng-template>

    <p-footer>
        <div class="p-d-flex p-jc-between">
            <button
                *ngIf="this.mode === 'edit'"
                type="button"
                class="p-button-secondary"
                icon="pi pi-trash"
                pButton
                label="Delete"
                (click)="this.mode = 'delete'"
            ></button>
            <button
                type="button"
                pButton
                [ngClass]="{ 'p-button-danger': this.mode === 'delete' }"
                [label]="getButtonLabel()"
                (click)="onDialogSubmit($event)"
            ></button>
        </div>
    </p-footer>
</p-dialog>
