<app-base-field [index]="index">
    <ng-container *ngIf="componentMode === 'view'">
        <div class="checkboxes mb-2">
            <div *ngFor="let val of field.metadata.data.value">
                <p-checkbox [(value)]="val.item" label="test" [(ngModel)]="val.checked"></p-checkbox>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <div *ngFor="let val of field.metadata.data.value">
            <p-inplace closable="true">
                <ng-template pTemplate="display">
                    <p-checkbox
                        [(value)]="val.item"
                        [label]="val.item ? val.item : '(Untitled Checkbox)'"
                        [(ngModel)]="val.checked"
                    ></p-checkbox
                ></ng-template>
                <ng-template pTemplate="content">
                    <input type="text" class="p-inputtext" [(ngModel)]="val.item" pInputText />
                </ng-template>
            </p-inplace>
        </div>
        <div>
            <button
                class="p-button-rounded p-button-text"
                type="button"
                pButton
                icon="pi pi-plus"
                (click)="onAddCheckboxPress()"
            ></button>
        </div>
    </ng-container>
</app-base-field>
