<p-overlayPanel #overlay [dismissable]="true" [showCloseIcon]="true" styleClass="block-overlayPanel">
    <ng-template pTemplate>
        <div class="p-grid p-nogutter block-overlay">
            <div class="p-col-4" *ngFor="let blockOption of blockOptions">
                <div class="p-d-flex p-flex-column p-jc-center p-my-2 p-mx-2 block-overlay__item" (click)="onAddNewBlockPress(blockOption.component)">
                    <i class="pi {{ blockOption.icon }} ms-4"></i>
                    <div class="block-label ms-01 p-mt-2">{{ blockOption.label }}</div>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<button
    pButton
    type="button"
    label="Add block"
    class="p-button-outlined p-button-secondary"
    icon="pi pi-plus"
    (click)="showAddNewBlockDialog($event)"
></button>
