.price {
    hr {
        border: none;
        border-top: 1px dashed #000;
    }
}
.info {
    background: linear-gradient(94.76deg, #FBF8F7 46.16%, #E4D9D5 288.04%);
}
.login {
    min-height: 100%;
}
