<div class="p-col-12 nav p-d-flex p-ai-center">
    <div class="container p-d-flex p-ai-center p-jc-between">
        <a href="https://stepflow.co" alt="Stepflow logo" style="height: 26px;">
            <img src="/assets/stepflow-logo.svg" alt="Stepflow logo" height="26px" />
        </a>
        <ng-container *ngIf="href.includes('/auth/register'); else registerPage">
            <button pButton type="button" class="p-button-secondary" label="Login" routerLink="/auth/login"></button>
        </ng-container>
        <ng-template #registerPage>
            <button
                pButton
                type="button"
                class="p-button-secondary"
                label="Start my free trial"
                routerLink="/auth/register"
            ></button>
        </ng-template>
    </div>
</div>
<ng-container *ngIf="href.includes('/auth/register')">
    <div class="p-col-12 info">
        <div class="container p-p-4">
            <h4><i class="pi pi-info-circle"></i> Early access</h4>
            <p>
                We’re currently in the process of testing the first version of our application with select users. When
                you sign up you will be added to a waitlist and notified when you can access Stepflow as we gradually
                allow more users in.
            </p>
            <p>
                By creating your account you will be one of the first to access all Stepflow has to offer. After the
                early access period you will be automatically switched to a 14 day trial for your selected plan. We are
                excited to have you around and we hope you enjoy this first glimpse at our app!
            </p>
        </div>
    </div>
    <div class="container p-pb-4 register">
        <div class="p-d-flex p-px-4 p-mt-4">
            <div class="p-col-7">
                <div class="p-pr-4">
                    <h2 class="p-mb-1">Create your account</h2>
                    <div class="p-field">
                        <label for="name">Name</label>
                        <input
                            id="name"
                            type="name"
                            style="width: 100%;"
                            aria-describedby="Enter your name"
                            pInputText
                            [(ngModel)]="authInfo.name"
                        />
                    </div>
                    <div class="p-field">
                        <label for="email">Email</label>
                        <input
                            id="email"
                            type="email"
                            style="width: 100%;"
                            aria-describedby="Enter your email"
                            pInputText
                            value="{{ email }}"
                            [(ngModel)]="authInfo.email"
                        />
                    </div>
                    <div class="p-field">
                        <label for="password">Password</label>
                        <input
                            id="password"
                            type="password"
                            style="width: 100%;"
                            aria-describedby="Enter a secure password"
                            pInputText
                            [(ngModel)]="authInfo.password"
                        />
                    </div>
                    <div class="p-field">
                        <label for="cpassword">Confirm password</label>
                        <input
                            id="cpassword"
                            type="password"
                            style="width: 100%;"
                            aria-describedby="Confirm password previously entered"
                            [(ngModel)]="authInfo.password2"
                            pInputText
                        />
                    </div>
                    <div class="p-field">
                        <input type="hidden" name="plan" value="{{ plan }}" [(ngModel)]="authInfo.plan" />
                        <button pButton type="button" label="Sign up" (click)="register()"></button>
                        <p>
                            By clicking "Sign up" you agree to Stepflow's
                            <a href="https://stepflow.co/terms-of-service">Terms of Service</a> and
                            <a href="https://stepflow.co/privacy">Privacy Policy</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-col-5">
                <p-card header="{{ plan }} plan" subheader="{{ planPrice }}/mo" class="price">
                    + Early access<br />
                    + 14 day trial<br />
                    <hr />
                    Total after early access & trial: {{ planPrice }}/mo<br />
                    <strong>Due today: $0/mo</strong>
                </p-card>
                <div class="p-mt-2">
                    <a href="https://stepflow.co/plans-and-pricing">Switch plans</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="href.includes('/auth/login')">
    <div class="p-d-flex p-flex-column p-ai-center p-jc-center login">
        <p-card
            [style]="{ maxWidth: '480px', margin: 'auto auto 8rem auto', minWidth: '320px' }"
            header="Login"
            subheader=""
        >
            <div class="p-d-flex p-flex-column p-card-content">
                <!-- <div class="p-field p-col-12">
            <span class="p-float-label">
                <input id="username" type="text" pInputText style="width: 100%;" />
                <label for="username">Username</label>
            </span>
        </div> -->
                <div class="p-field p-col-12">
                    <span class="p-float-label">
                        <div class="p-float-label">
                            <input
                                id="email"
                                type="email"
                                pInputText
                                style="width: 100%;"
                                [(ngModel)]="authInfo.email"
                            />
                            <label for="email">Email</label>
                        </div>
                    </span>
                </div>
                <div class="p-field p-col-12">
                    <span class="p-float-label">
                        <div class="p-float-label">
                            <input
                                id="password"
                                type="password"
                                pInputText
                                style="width: 100%;"
                                [(ngModel)]="authInfo.password"
                            />
                            <label for="password">Password</label>
                        </div>
                    </span>
                </div>
                <div class="p-field p-col-12">
                    <button pButton type="button" label="Login" (click)="login()"></button>
                </div>
            </div>
        </p-card>
    </div>
</ng-container>
