.nav {
    height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}
.price {
    hr {
        border: none;
        border-top: 1px dashed #000;
    }
}
.info {
    background: linear-gradient(94.76deg, #fbf8f7 46.16%, #e4d9d5 288.04%);
}
.login {
    height: calc(100% - 60px);
}
