<app-base-field [field]="field" [index]="index">
    <ng-container *ngIf="componentMode === 'view'"></ng-container>
    <ng-container *ngIf="componentMode === 'edit'">
        <div class="images view p-p-2">
            <div class="p-grid" style="max-width: 400px;">
                <div *ngFor="let image of imageData; let index = index" class="p-col-3" key="index">
                    <img
                        [src]="image.thumbnail"
                        [alt]="image.altText"
                        style="cursor: pointer"
                        (click)="imageClick(index)"
                    />
                </div>
            </div>
            <p-galleria
                [(value)]="imageData"
                [(visible)]="displayLightbox"
                [(activeIndex)]="activeIndex"
                [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '850px' }"
                [numVisible]="7"
                [circular]="true"
                [fullScreen]="true"
                [showItemNavigators]="true"
                [showThumbnails]="false"
                [baseZIndex]="100000"
            >
                <ng-template pTemplate="item">
                    <img *ngFor="let img of imageData" [src]="img.href" style="width: 100%; display: block;" />
                </ng-template>
                <ng-template pTemplate="caption">
                    <ng-container *ngFor="let img of imageData">
                        <h4 style="margin-bottom: .5rem; color: #ffffff;">{{ img.title }}</h4>
                        <p>{{ img.description }}</p>
                    </ng-container>
                </ng-template>
                <ng-template pTemplate="thumbnail">
                    <div *ngFor="let img of imageData" class="p-grid p-nogutter p-justify-center">
                        <img [src]="img.href" style="display: block;" />
                    </div>
                </ng-template>
            </p-galleria>
        </div>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <p-fileUpload
                    mode="basic"
                    accept="image/*"
                    maxFileSize="1000000"
                    chooseLabel="Upload images"
                    (onSelect)="onFileUploadSelected($event)"
                ></p-fileUpload>
            </div>

            <div class="p-toolbar-group-right">{{ imageData.length }} images</div>
        </p-toolbar>
    </ng-container>
</app-base-field>
