@import 'core';

.images {
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-count: 3;
    -moz-column-gap: 1rem;
    column-count: 3;
    column-gap: 1rem;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    &__item {
        position: relative;
        img {
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
        }
        button {
            position: absolute;
            top: 10px;
            right: 10px;
            visibility: hidden;
        }
        &:hover {
            button {
                visibility: visible;
            }
        }
    }
}
