<div class="login__container">
    <nav class="nav">
        <div class="nav__back">
            <a href="https://stepflow.co">&#8592; Back to Stepflow.co</a>
        </div>
        <div class="nav__auth">
            <a routerLink="/auth/signup">
                Sign up
            </a>
        </div>
    </nav>

    <div class="authentication-container">
        <div class="authentication">
            <div class="authentication__header">
                <img src="../../assets/stepflow-logo.svg" />
                <h2 class="subtitle">Sign in to StepFlow</h2>
            </div>
            <div class="authentication__form">
                <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                    <div class="form-error" *ngIf="loginError">
                        <div><i class="material-icons">info</i></div>
                        {{ loginError }}
                    </div>
                    <div class="form-input">
                        <label>Your email</label>
                        <input type="text" placeholder="Enter your email" formControlName="email" />
                    </div>

                    <div class="form-input">
                        <label>Password</label>
                        <input type="password" placeholder="Enter your password" formControlName="password" />
                    </div>
                    <div class="form-button">
                        <button class="button" type="submit">Log in</button>
                    </div>
                </form>
                <div class="form-link">Looking for an invite? Request one <a routerLink="/auth/signup">here.</a></div>
            </div>
        </div>
        <div class="authentication__note">
            <i class="material-icons">info</i>
            <div>
                We are currently testing with a small group of beta users and slowly sending out invitations to our
                waitlist. Thank you for your patience!
            </div>
        </div>
    </div>
</div>
