<div class="p-px-5 p-py-5 container p-d-flex p-dir-col p-flex-wrap">
    <h1 class="p-mt-4 p-mb-6 p-text-center">Account Settings</h1>
    <p-card
        header="Profile details"
        [style]="{ width: '100%', maxWidth: '800px' }"
        styleClass="p-card-shadow p-mb-4 p-mx-auto"
    >
        <div class="p-grid p-d-flex p-ai-center">
            <div class="p-col-10">
                Change details related to your personal profile, including your name or profile photo.
            </div>
            <div class="p-col-2 p-d-flex p-jc-end">
                <button
                    type="button"
                    pButton
                    label="Edit"
                    icon="pi pi-pencil"
                    class="p-button-text"
                    (click)="showDialog('profile')"
                ></button>
            </div>
        </div>
    </p-card>
    <p-card
        header="Email address"
        [style]="{ width: '100%', maxWidth: '800px' }"
        styleClass="p-card-shadow p-mb-4 p-mx-auto"
    >
        <div class="p-grid p-d-flex p-ai-center">
            <div class="p-col-10 p-d-flex p-ai-center">
                Change your email address.
            </div>
            <div class="p-col-2 p-d-flex p-jc-end">
                <button
                    type="button"
                    pButton
                    label="Edit"
                    icon="pi pi-pencil"
                    class="p-button-text"
                    (click)="showDialog('email')"
                ></button>
            </div>
        </div>
    </p-card>
    <p-card
        header="Password"
        [style]="{ width: '100%', maxWidth: '800px' }"
        styleClass="p-card-shadow p-mb-4 p-mx-auto"
    >
        <div class="p-grid p-d-flex p-ai-center">
            <div class="p-col-10">
                Send a password reset email.
            </div>
            <div class="p-col-2 p-d-flex p-jc-end">
                <button
                    type="button"
                    pButton
                    label="Edit"
                    icon="pi pi-pencil"
                    class="p-button-text"
                    (click)="showDialog('password')"
                ></button>
            </div>
        </div>
    </p-card>

    <p-dialog
        header="Modify your profile details"
        [(visible)]="displayProfileModal"
        modal="true"
        dismissableMask="true"
        [style]="{ width: '100%', maxWidth: '600px' }"
    >
        <div class="p-fluid">
            <div class="p-field">
                <label for="firstName">First name</label>
                <input
                    id="name"
                    type="name"
                    pInputText
                    aria-describedby="Your first name"
                    placeholder="Enter your first name"
                    [(ngModel)]="userDetails.firstName"
                />
            </div>
            <div class="p-field">
                <label for="lastName">Last name</label>
                <input
                    id="lastName"
                    type="name"
                    pInputText
                    aria-describedby="Your last name"
                    placeholder="Enter your last name"
                    [(ngModel)]="userDetails.lastName"
                />
            </div>
            <div class="p-field">
                <label for="profileImageUpload">Profile Image</label>
                <div class="p-d-flex p-ai-center">
                    <ng-container *ngIf="userDetails.photoURL; else placeholder"
                        ><img
                            src="{{ userDetails.photoURL }}"
                            height="100px"
                            class="img-responsive rounded-image"
                            alt="Your profile picture"
                    /></ng-container>
                    <ng-template #placeholder>
                        <img
                            src="/assets/placeholder/placeholder-profile.png"
                            height="100px"
                            class="img-responsive rounded-image"
                            alt="Your profile picture"
                        />
                    </ng-template>
                    <p-fileUpload
                        mode="basic"
                        name="profileImageUpload"
                        [customUpload]="true"
                        accept="image/*"
                        maxFileSize="1000000"
                        fileLimit="1"
                        chooseLabel="Upload profile image"
                        (onSelect)="onProfileImageUploadSelected($event)"
                        styleClass="p-button-text p-button-text-hover p-ml-3"
                        [auto]="true"
                    ></p-fileUpload>
                </div>
            </div>
        </div>
        <p-footer
            ><button pButton type="button" label="Update profile" (click)="onSaveProfileSelected()"></button
        ></p-footer>
    </p-dialog>

    <p-dialog
        header="Change your email address"
        [(visible)]="displayEmailModal"
        modal="true"
        dismissableMask="true"
        [style]="{ width: '100%', maxWidth: '600px' }"
    >
        <div class="p-fluid">
            <div class="p-field">
                <label for="email">Password</label>
                <input
                    id="passwordEmail"
                    type="password"
                    pInputText
                    aria-describedby="Your password"
                    placeholder="Enter your password"
                    [(ngModel)]="passwordVerification"
                />
                <small id="password-help">Your current password is required to change your email.</small>
            </div>
            <div class="p-field">
                <label for="email">Email</label>
                <input
                    id="email"
                    type="email"
                    pInputText
                    aria-describedby="Your email"
                    placeholder="Enter your email address"
                    [(ngModel)]="userDetails.email"
                />
                <small id="password-help">A verification email will be sent to your new address.</small>
            </div>
        </div>
        <p-footer
            ><button
                pButton
                type="button"
                label="Update email"
                (click)="onChangeEmailSelected(passwordVerification)"
            ></button
        ></p-footer>
    </p-dialog>

    <p-dialog
        header="Change your password"
        [(visible)]="displayPasswordModal"
        modal="true"
        dismissableMask="true"
        [style]="{ width: '100%', maxWidth: '600px' }"
    >
        <div class="p-fluid">
            <div class="p-field">
                <label for="password">Password</label>
                <input
                    id="password"
                    type="password"
                    pInputText
                    aria-describedby="Your password"
                    placeholder="Enter your password"
                    [(ngModel)]="passwordVerification"
                />
                <small id="password-help">Your current password is required to send a password reset email.</small>
            </div>
        </div>
        <p-footer>
            <button
                pButton
                type="button"
                label="Reset password"
                (click)="onChangePasswordSelected(passwordVerification)"
            ></button>
        </p-footer>
    </p-dialog>
</div>
